<%= form_for(@return_code, :html => {:class => 'form-horizontal form-bordered'}) do |f| %>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :code, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <%= f.text_field :code, class: 'form-control', :required => true %>
          <%= "<span class='help-block-error'>#{@return_code.errors[:code].first}</span>".html_safe if @return_code.errors[:code].first %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <%= f.text_field :description, class: 'form-control', :required => true %>
          <%= "<span class='help-block-error'>#{@return_code.errors[:description].first}</span>".html_safe if @return_code.errors[:description].first %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :obs, class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= f.text_area :obs, class: 'form-control', :rows => '3' %>
          <%= "<span class='help-block-error'>#{@return_code.errors[:obs].first}</span>".html_safe if @return_code.errors[:obs].first %>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to I18n.t('return_code.back'), return_codes_path, class: 'btn btn-warning' %>
    </div>
<% end %>