<%= grid(@return_codes_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum código de retorno encontrado.', class: 'well'
  end

    g.column name: 'Código', attribute: 'code', auto_reload: true do |return_code|
      return_code.code
    end

    g.column name: 'Descrição' do |return_code|
      return_code.description
    end

    g.column name: 'Observação' do |return_code|
      return_code.obs
    end

    g.column do |return_code|
      buffer = link_to edit_return_code_path(return_code) do
        '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
      end

      buffer += '   '
      buffer += link_to return_code, method: :delete, data: { confirm: I18n.t('action_confirmation.delete_user') } do
        '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
      end
    end

end -%>