<header class="page-header">
  <h2><%= 'Códigos de Retorno' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<section class="panel">
    <div class="panel-body">
      <%= render partial: 'grid' %>
    </div>
    <br>
    <br>
    <%= link_to I18n.t('return_code.new'), new_return_code_path, :class => 'btn btn-primary' %>
</section>