<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @return_code.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @return_code.description %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @return_code.obs %>
</p>

<%= link_to 'Edit', edit_return_code_path(@return_code) %> |
<%= link_to 'Back', return_codes_path %>
