<%= form_for(@holiday) do |f| %>
    <div class="row-fluid">

      <div class="control-group">
        <label class="control-label" for="holiday[holiday_date]">
          <%= f.label :holiday_date %>
        </label>
        <div class="controls">
          <%= f.date_select :holiday_date, :required => true %>
          <%= show_errors_for_attribute_if_any @holiday, :holiday_date %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="holiday[type]">
          <%= f.label :holiday_type %>
        </label>
        <div class="controls">
                <%= f.select :holiday_type, options_for_select(Holiday.holiday_types), :prompt => I18n.t('holiday.choose_option'),  :required => true %>
            <%= show_errors_for_attribute_if_any @holiday, :holiday_type %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="holiday[observation]">
          <%= f.label :observation %>
        </label>
        <div class="controls">
          <%= f.text_area :observation, :required => true %>
          <%= show_errors_for_attribute_if_any @holiday, :observation %>
        </div>
      </div>

    </div>

    <br/>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to I18n.t('holiday.back'), holidays_path, class: 'btn btn-warning' %>
  </div>
<% end %>
