<section class="panel">
    <div class="panel-body">
      <table class="table table-bordered table-striped" id="datatable-default">
        <thead>
        <tr>
          <th><%= I18n.t('holiday.holiday_date') %></th>
          <th><%= I18n.t('holiday.type') %></th>
          <th><%= I18n.t('holiday.observation') %></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @holidays.each do |holiday| %>
            <tr>
              <td><%= holiday.holiday_date %></td>
              <td><%= holiday.holiday_type %></td>
              <td><%= holiday.observation %></td>
              <td>
                <%= link_to holiday do %>
                    <i class="fa fa-lg fa-search" title="Exibir"></i>
                <% end %>
                <%= link_to edit_holiday_path(holiday) do %>
                    <i class="fa fa-lg fa-edit" title="Editar"></i>
                <% end %>
                <%= link_to holiday, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-lg fa-remove" title="Remover"></i>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <br/>
  <%= link_to I18n.t('holiday.new'), new_holiday_path, class: 'btn btn-primary' %>
</section>