<div class="general-box">

  <h3><%= I18n.t('holiday.holiday') %></h3>

  <div class="row-fluid">
    <div class="box-form span8" style="...">
      <p>
        <b><%= I18n.t('holiday.holiday_date') %></b>
        <%= @holiday.holiday_date %>
      </p>
      <p>
        <b><%= I18n.t('holiday.type') %></b>
        <%= @holiday.holiday_type %>
      </p>
      <p>
        <b><%= I18n.t('holiday.observation') %></b>
        <%= @holiday.observation %>
      </p>
      <br>
      <div class="actions">
        <%= link_to I18n.t('holiday.edit'), edit_holiday_path(@holiday), class: 'btn btn-primary' %>
        <%= link_to I18n.t('holiday.back'), holidays_path, class: 'btn btn-warning' %>
      </div>
    </div>
  </div>

</div>



