<secition class="body-sign">
  <div class="center-sign">
    <a href="/" class="logo pull-left">
      <img src="assets/mf_logo.png" height="54" alt="Margem Fácil" />
    </a>

    <div class="panel panel-sign">
      <div class="panel-title-sign mt-xl text-right">
        <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i>Alterar Senha</h2>
      </div>
      <div class="panel-body">
        <%= form_for(@user, :url => reset_path(params[:id])) do |f| %>
            <div class="form-group mb-lg">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control input-lg' %>
            </div>
            <%= "<span class='help-block-error'>#{@user.errors[:password].first}</span>".html_safe if @user.errors[:password].first %>
            <div class="form-group mb-lg">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control input-lg' %>
            </div>
            <%= "<span class='help-block-error'>#{@user.errors[:password_confirmation].first}</span>".html_safe if @user.errors[:password_confirmation].first %>
            <div class="row">
                <div class="col-sm-12 text-right">
                  <%= f.submit 'Atualizar', :class => 'btn btn-primary hidden-xs' %>
                  <%= f.submit 'Atualizar', :class => 'btn btn-primary btn-block btn-lg visible-xs mt-lg' %>
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</secition>