<section class="body-sign">
    <div class="center-sign">
      <a href="/" class="logo pull-left">
        <img src="assets/mf_logo.png" height="54" alt="Margem Fácil" />
      </a>

      <div class="panel panel-sign">
        <div class="panel-title-sign mt-xl text-right">
          <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i>Resetar Senha</h2>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">
            <p class="m-none text-semibold h6">Informe seu e-mail e usuário e enviaremos as intruções!</p>
          </div>
          <%= form_tag ({:controller => 'password_resets', :action => 'send_reset_password_instruction'}) do %>
              <div class="form-group mb-none">
                <%= text_field_tag 'email', nil, class: 'form-control input-lg', :required => true, :placeholder => 'E-mail' %>
              </div>
              <br/>
              <div class="form-group mb-none">
                <%= text_field_tag 'user', nil, class: 'form-control input-lg', :required => true, :placeholder => 'Usuário' %>
              </div>
              <br/>
              <%= submit_tag 'Resetar', :class => 'btn btn-primary ' %>
          <% end %>
          <p class="text-center mt-lg">Lembrou? <%= link_to 'Login', login_path %>
        </div>
      </div>
    </div>
</section>