<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Informação Básica' %></h2>
      </header>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :name, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@attendance_local.errors[:name].first}</span>".html_safe if @attendance_local.errors[:name].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cnpj, class: 'col-md-3 control-label' %>
          <div class="col-md-6">
            <%= f.text_field :cnpj, class: 'form-control cnpj-field', :placeholder => 'Ex: 00.000.000/0000-00' %>
            <%= "<span class='help-block-error'>#{@attendance_local.errors[:cnpj].first}</span>".html_safe if @attendance_local.errors[:cnpj].first %>
          </div>
        </div>

        <% if current_user.isS?(User::ADMIN) %>
            <div class="form-group">
              <%= f.label :consignee_id, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= select('attendance_local', 'consignee_id', Consignee.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
                <%= "<span class='help-block-error'>#{@attendance_local.errors[:consignee_id].first}</span>".html_safe if @attendance_local.errors[:consignee_id].first %>
              </div>
            </div>
        <% end %>

      </div>
    </section>
  </div>
</div>