<%= grid(@attendance_locals_grid, show_filters: :when_filtered) do |g|


  g.blank_slate do
    content_tag :div, 'Nenhum Local de atendimento encontrado.', class: 'well'
  end

  g.column name: 'Nome', attribute: 'name', auto_reload: true do |attendance_local|
    attendance_local.name
  end

  g.column name: 'Consignatária', attribute: 'name', model: 'Consignee', auto_reload: true do |attendance_local|
    attendance_local.consignee.name if attendance_local.consignee
  end

  g.column do |attendance_local|
    buffer = link_to attendance_local do
        '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to edit_attendance_local_path(attendance_local) do
        '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to attendance_local, method: :delete, data: { confirm: 'Você tem certeza que deseja remover o local de atendimento especificado?' } do
        '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
    end
  end

end -%>