<div class="div-align">
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <p>
          <b><%= 'Logradouro:' %></b>
          <%= @attendance_local.street %>
        </p>
        <p>
          <b><%= 'Número:' %></b>
          <%= @attendance_local.number %>
        </p>
        <p>
          <b><%= 'Complemento:' %></b>
          <%= @attendance_local.complement %>
        </p>
      </div>
      <div class="span3">
        <p>
          <b><%= 'Bairro:' %></b>
          <%= @attendance_local.neighborhood %>
        </p>
        <p>
          <b><%= 'CEP:' %></b>
          <%= @attendance_local.zip_code %>
        </p>
        <p>
          <b><%= 'Cidade:' %></b>
          <%= @attendance_local.name %>
        </p>
      </div>
      <div class="span3">
        <p>
          <b><%= 'Estado:' %></b>
          <%= @attendance_local.state %>
        </p>
        <p>
          <b><%= 'País:' %></b>
          <%= @attendance_local.country %>
        </p>
      </div>
    </div>
  </div>
</div>