<div class="div-align">
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <p>
          <b><%= 'Nome:' %></b>
          <%= @attendance_local.name %>
        </p>
        <p>
          <b><%= 'CNPJ:' %></b>
          <%= @attendance_local.cnpj %>
        </p>
      </div>
      <div class="span6">
        <p>
          <b><%= 'Consignatária:' %></b>
          <%= @attendance_local.consignee.name %>
        </p>
      </div>
    </div>
  </div>
</div>