<header class="page-header">
  <h2><%= 'Exibir Local de Atendimento' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Informação Básica' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('organ.name') %>:</b>
            <%= @attendance_local.name %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('organ.cnpj') %>:</b>
            <%= @attendance_local.cnpj %>
          </p>
        </div>
        <p>
          <b><%= 'Consignatária' %>:</b>
          <%= @attendance_local.consignee.name %>
        </p>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= ' Endereço ' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.street') %>:</b>
            <%= @attendance_local.street %>
          </p>
          <p>
            <b><%= I18n.t('address.number') %>:</b>
            <%= @attendance_local.number %>
          </p>
          <p>
            <b><%= I18n.t('address.complement') %>:</b>
            <%= @attendance_local.complement %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.neighborhood') %>:</b>
            <%= @attendance_local.neighborhood %>
          </p>
          <p>
            <b><%= I18n.t('address.zip_code') %>:</b>
            <%= @attendance_local.zip_code %>
          </p>
          <p>
            <b><%= I18n.t('address.city') %>:</b>
            <%= @attendance_local.city %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.state') %>:</b>
            <%= @attendance_local.state %>
          </p>
          <p>
            <b><%= I18n.t('address.country') %>:</b>
            <%= @attendance_local.country %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>

<div class="actions">
  <%= link_to 'Editar', edit_attendance_local_path(@attendance_local), class: 'btn btn-primary' %>
  <%= link_to 'Voltar', attendance_locals_path, class: 'btn btn-warning' %>
</div>