<%= form_for @variation, :html => {:class => 'form-horizontal form-bordered'} do |f| %>
    <section class="panel">
        <div class="panel-body">
          <%= f.hidden_field :assistance_contract_id, :value => @assistance.id %>
          <div class="form-group">
            <%= f.label :value, class: 'col-md-3 control-label asterisk' %>
            <div class="col-md-6">
              <%= f.text_field :value, class: 'form-control money', :required => true, :readonly => f.object.persisted? %>
              <%= "<span class='help-block-error'>#{@variation.errors[:value].first}</span>".html_safe if @variation.errors[:value].first %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :category, class: 'col-md-3 control-label asterisk' %>
            <div class="col-md-6">
              <%= f.select :category, ['Não informado', 'Ajuste anual titular', 'Mudança de faixa etária titular',
                                       'inclusão de dependente', 'Ajuste anual dependente', 'Mudança faixa etária dependente'], {:prompt => true},class:'form-control mb-md', :disabled => f.object.persisted? %>
              <%= "<span class='help-block-error'>#{@variation.errors[:category].first}</span>".html_safe if @variation.errors[:category].first %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :approval_password, class: 'col-md-3 control-label asterisk' %>
            <div class="col-md-6">
              <%= f.password_field :approval_password, class: 'form-control' %>
              <%= "<span class='help-block-error'>#{@variation.errors[:approval_password].first}</span>".html_safe if @variation.errors[:approval_password].first %>
            </div>
          </div>
        </div>
      <br>
      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
        <%= link_to I18n.t('organ.back'), variations_path, class: 'btn btn-warning' %>
      </div>
    </section>

<% end %>