<%= grid(@variations_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhuma variação encontrada.', class: 'well'
  end

  g.column name: 'Desconto', attribute: 'value', auto_reload: true do |variation|
    format_currency variation.value
  end

  g.column name: 'Categoria', attribute: 'category', auto_reload: true do |variation|
    variation.category
  end

  g.column name: 'Status', attribute: 'status', auto_reload: true do |variation|
    variation.status
  end

  g.column do |variation|
    if can? :destroy, :variation
      buffer = link_to variation, method: :delete, data: { confirm: 'Você tem certeza que deseja remover a variação?' } do
        '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
      end
    end
    if variation.status == Variation::AGUARDANDO_SERVIDOR
      buffer += '   '
      buffer += link_to edit_variation_path(variation) do
        '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
      end
    end

    raw buffer
  end

end -%>