<header class="page-header">
  <h2><%= 'Editar Variação' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados do contrato assistencial' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= 'Servidor' %>:</b>
            <%= @assistance.public_employee.name %>
          </p>

          <p>
            <b><%= 'Matricula' %>:</b>
            <%= @assistance.public_employee.registration %>
          </p>

          <p>
            <b><%= 'Órgão' %>:</b>
            <%= @assistance.public_employee.organ.name %>
          </p>

        </div>

        <div class="col-lg-3">
          <p>
            <b><%= 'CPF' %>:</b>
            <%= @assistance.public_employee.cpf %>
          </p>

          <p>
            <b><%= 'Número do contrato' %>:</b>
            <%= @assistance.contract_number %>
          </p>

          <p>
            <b><%= 'Valor do desconto' %>:</b>
            <%= @assistance.discount_value %>
          </p>
        </div>

        <div class="col-lg-3">
          <p>
            <b><%= 'Data da operação' %>:</b>
            <%= @assistance.created_at.strftime('%d/%m/%Y') %>
          </p>
          <p>
            <b><%= 'Status' %>:</b>
            <%= @assistance.status %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>
<%= render 'variations/form' %>