<header class="page-header">
  <h2><%= 'Nova Variação' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title"><%= 'Dados do contrato assistencial' %></h2>
        </header>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Servidor', nil ,class: 'control-label' %>
                      <%= text_field_tag 'employee', @assistance.public_employee.name, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'CPF', nil ,class: 'control-label' %>
                      <%= text_field_tag 'cpf', @assistance.public_employee.cpf, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Matricula', nil ,class: 'control-label' %>
                      <%= text_field_tag 'registration', @assistance.public_employee.registration, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Órgão', nil ,class: 'control-label' %>
                      <%= text_field_tag 'organ', @assistance.public_employee.organ.name, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Contrato', nil ,class: 'control-label' %>
                      <%= text_field_tag 'contract', @assistance.contract_number, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Desconto', nil ,class: 'control-label' %>
                      <%= text_field_tag 'discount', @assistance.discount_value, class: 'form-control money', :readonly => true  %>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Data Operação', nil ,class: 'control-label' %>
                      <%= text_field_tag 'operation_date', @assistance.created_at.strftime('%d/%m/%Y'), class: 'form-control money', :readonly => true  %>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'status', nil ,class: 'control-label' %>
                      <%= text_field_tag 'status', @assistance.status, class: 'form-control money', :readonly => true  %>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </section>

<br>
<%= render 'variations/form' %>