Oi <%= @user.public_employee.name %>

Você solicitou a criação de seu usuário no sistema margem fácil, para cria-lo clique ou cole no seu navegador o link abaixo.

<%= inform_login_and_password_url(:token => @user.create_user_token) %>

Se você não fez está solicitação por favor ignore.