<h2>Oi <%= @user.public_employee.name %>,</h2>

<div>
  Você fez uma solicitação de criação de usuário no Sistema Margem Fácil, para altera-la clique ou cole no seu navegador o link abaixo.
</div>

<%= inform_login_and_password_url(:token => @user.create_user_token) %>
<p>
  Este link é válido por um periodo de 24h após a solicitação, após o periodo especificado a solicitação deverá ser refeita.
</p>
<p>
  Se vocẽ não fez esta solicitação, ignore este email.
</p>
