  <h2>Oi <%= @user.login %>,</h2>

  <div>
    Você fez uma solicitação de mudança de senha no Sistema Margem Fácil, para altera-la clique ou cole no seu navegador o link abaixo.
  </div>

    <%= inform_new_password_url(:id => @user.password_reset_token) %>
  <p>
    Este link é válido por um periodo de 24h após a solicitação de mudança de senha, após o periodo especificado a solicitação deverá ser refeita.
  </p>
  <p>
    Se vocẽ não fez esta solicitação, ignore este email e sua senha continuará a mesma.
  </p>
