Oi <%= @user.login %>,

Você fez uma solicitação de mudança de senha no Sistema Margem Fácil, para altera-la clique ou cole no seu navegador o link abaixo.

<%= inform_new_password_url(@user.password_reset_token) %>

Se vocẽ não fez esta solicitação, ignore este email e sua senha continuará a mesma.
