<h2>Oi <%= @user.login %>,</h2>

<div>
  Seja bem vindo a Sistema Margem Facil, sistema de gestão de descontos facultativos.
</div>

<p>
  Login: <%= @user.login %>
</p>
<p>
  Senha: <%= @password %>
</p>