<%= grid(@criticisms_grid, show_filters: :when_filtered) do |g|
  g.blank_slate do
    content_tag :div, 'Nenhum alerta encontrado.', class: 'well'
  end

  g.column name: 'Arquivo', attribute: 'file_name', auto_reload: true do |criticism|
    criticism.file_name
  end

  g.column name: 'Mensagem', attribute: 'text', auto_reload: true do |criticism|
    criticism.text
  end

  g.column name: 'Data' do |criticism|
    criticism.created_at.strftime('%d/%m/%Y')
  end
end -%>