<%= grid(@return_criticism_grid, show_filters: :when_filtered) do |g|
  g.blank_slate do
    content_tag :div, 'Nenhum alerta encontrado.', class: 'well'
  end

  g.column name: 'Arquivo', attribute: 'file_name', auto_reload: true do |return_criticism|
    return_criticism.file_name
  end

  g.column name: 'Mensagem', attribute: 'observation', auto_reload: true do |return_criticism|
    return_criticism.observation
  end

  g.column name: 'Data' do |return_criticism|
    return_criticism.created_at.strftime('%d/%m/%Y')
  end
end -%>