<header class="page-header">
  <h2><%= 'Arquivo de Margem' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
          <div class="margin_file">
            <%= form_tag({:controller => 'file', :action => 'upload_margin_file'}, multipart: true) do %>
                <%= file_field_tag 'margin_file' %>

                <div class="actions" style="margin-top: 20px;">
                  <%= submit_tag I18n.t('upload.do_upload'), class: 'btn btn-primary' %>
                </div>

            <% end %>
          </div>
        </div>
      </section>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
        <div class="panel-body">
          <%= render partial: 'margin_grid' %>
        </div>
    </section>
  </div>
</div>