<%= grid(@portability_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhuma requisição de portabilidade encontrada', class: 'well'
  end

  g.column name: 'Contrato', attribute: 'contract_number', model: 'Loan', auto_reload: true do |request|
    request.loan.contract_number if request.loan
  end

  g.column name: 'Parcelas Pagas', attribute: 'installments_paid', model: 'Loan', auto_reload: true do |request|
    request.loan.installments_paid if request.loan
  end

  g.column name: 'Prazo', attribute: 'deadline', model: 'Loan', auto_reload: true do |request|
    request.loan.deadline if request.loan
  end

  g.column name: 'Valor Parcela' do |request|
    format_currency request.loan.installment_value if request.loan
  end

  g.column name: 'Status' do |request|
    request.status
  end

  g.column do |request|
    if request.status == PortabilityRequest::AGUARDANDO_RESPOSTA
      if request.seller_id === current_user.get_consignee.id
        if can? :answer_request, PortabilityRequest
          buffer = link_to 'Responder', answer_request_path(request)
        end
      end
    end

    if request.status == PortabilityRequest::RESPONDIDO
      if request.buyer_id == current_user.get_consignee.id
        if can? :new_portability, Loan
          buffer = link_to 'Finalizar', new_portability_path(request.loan.public_employee.id, request.id)
        end
      end
    end
    raw buffer
  end

end -%>