<header class="page-header">
  <h2><%= 'Responder Solicitação' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

    <%= form_for @portability_request, url: answer_request_execute_path do |f| %>
        <section class="panel">
          <div class="panel-body">

            <div class="col-lg-12">

                <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <%= label_tag 'Nome', nil ,class: 'control-label' %>
                        <%= text_field_tag 'name', @portability_request.loan.public_employee.name, class: 'form-control', :readonly => true  %>
                      </div>
                    </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'CPF', nil ,class: 'control-label' %>
                      <%= text_field_tag 'cpf', @portability_request.loan.public_employee.cpf, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= label_tag 'Mátricula', nil ,class: 'control-label' %>
                      <%= text_field_tag 'matricula', @portability_request.loan.public_employee.registration, class: 'form-control', :readonly => true  %>
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= label_tag 'Data Solicitação', nil ,class: 'control-label' %>
                    <%= text_field_tag 'request_date', @portability_request.created_at.strftime('%d/%M/%y'), class: 'form-control', :readonly => true  %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= label_tag 'Banco Proponente', nil ,class: 'control-label' %>
                    <%= text_field_tag 'buyer_bank', @portability_request.buyer.name, class: 'form-control', :readonly => true  %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= label_tag 'Valor Parcela', nil ,class: 'control-label' %>
                    <%= text_field_tag 'installment', format_currency(@portability_request.loan.installment_value), class: 'form-control', :readonly => true  %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= label_tag 'Prazo', nil ,class: 'control-label' %>
                    <%= text_field_tag 'deadline', @portability_request.loan.deadline, class: 'form-control', :readonly => true  %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= label_tag 'Valor Liquido', nil ,class: 'control-label' %>
                    <%= text_field_tag 'liquid_value', format_currency(@portability_request.loan.liquid_value), class: 'form-control', :readonly => true  %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= label_tag 'Saldo Devedor', nil ,class: 'control-label' %>
                    <%= text_field_tag 'balance_due', format_currency(@portability_request.loan.balance_due), class: 'form-control', :readonly => true  %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.label :balance_due_release, class: 'control-label asterisk' %>
                    <%= f.text_field :balance_due_release, class: 'form-control money' %>
                    <%= "<span class='help-block-error'>#{@portability_request.errors[:balance_due_release].first}</span>".html_safe if @portability_request.errors[:balance_due_release].first %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.label :portability_code, class: 'control-label asterisk' %>
                    <%= f.text_field :portability_code, class: 'form-control' %>
                    <%= "<span class='help-block-error'>#{@portability_request.errors[:portability_code].first}</span>".html_safe if @portability_request.errors[:portability_code].first %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.label :observation_seller, class: 'control-label asterisk' %>
                    <%= f.text_area :observation_seller, class: 'form-control' %>
                    <%= "<span class='help-block-error'>#{@portability_request.errors[:observation_seller].first}</span>".html_safe if @portability_request.errors[:observation_seller].first %>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </section>

        <div class="actions">
          <% if can? :answer_request_execute, PortabilityRequest %>
              <%= f.submit 'Liberar', :class => "btn btn-primary" %>
          <% end %>
          <% if can? :new_refin, Loan %>
              <%= link_to 'Reter', new_refin_path(@portability_request.loan.public_employee.id, @portability_request.id, 'RETAIN'), class: 'btn btn-danger' %>
          <% end %>
          <%= link_to I18n.t('reusable.back'), manage_portability_path, class: 'btn btn-warning' %>
        </div>
    <% end %>