<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Endereço' %></h2>
      </header>
      <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :street, class: 'control-label' %>
                  <%= f.text_field :street, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:street].first}</span>".html_safe if @public_employee.errors[:street].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :number, class: 'control-label' %>
                  <%= f.text_field :number, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:number].first}</span>".html_safe if @public_employee.errors[:number].first %>
              </div>
            </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= f.label :complement, class: 'control-label' %>
                <%= f.text_field :complement, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:complement].first}</span>".html_safe if @public_employee.errors[:complement].first %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= f.label :neighborhood, class: 'control-label' %>
                <%= f.text_field :neighborhood, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:neighborhood].first}</span>".html_safe if @public_employee.errors[:neighborhood].first %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :zip_code, class: 'control-label' %>
                <%= f.text_field :zip_code, class: 'form-control cep', :placeholder => '00000-000' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:zip_code].first}</span>".html_safe if @public_employee.errors[:zip_code].first %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :city, class: 'control-label' %>
                <%= f.text_field :city, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:city].first}</span>".html_safe if @public_employee.errors[:city].first %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>