<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Informação Básica' %></h2>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :name, class: 'control-label asterisk' %>
              <%= f.text_field :name, class: 'form-control', :required => true %>
              <%= "<span class='help-block-error'>#{@public_employee.errors[:name].first}</span>".html_safe if @public_employee.errors[:name].first %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :cpf, class: 'control-label' %>
                <%= f.text_field :cpf, class: 'form-control cpf', :placeholder => 'Ex: 000.000.000-00' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:cpf].first}</span>".html_safe if @public_employee.errors[:cpf].first %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :organ_id, class: 'control-label asterisk' %>
                <%= f.select(:organ_id, @organs.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, { :class => 'form-control mb-md' }) %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:organ_id].first}</span>".html_safe if @public_employee.errors[:organ_id].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :registration, class: 'control-label asterisk' %>
                <%= f.text_field :registration, class: 'form-control', :required => true %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:registration].first}</span>".html_safe if @public_employee.errors[:registration].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :admission_date, class: 'control-label asterisk' %>
                <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
                  <%= f.text_field :admission_date, :required => true, :class => 'form-control date_field datepicker', value: (@public_employee.admission_date ? @public_employee.admission_date.strftime("%d/%m/%Y") : nil), :placeholder => 'Ex: 00/00/0000' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:admission_date].first}</span>".html_safe if @public_employee.errors[:admission_date].first %>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :situation_id, class: 'control-label asterisk' %>
                  <%= select('public_employee', 'situation_id', @situations.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:situation_id].first}</span>".html_safe if @public_employee.errors[:situation_id].first %>
              </div>
            </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :end_contract_date, class: 'control-label asterisk' %>
                <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
                  <%= f.text_field :end_contract_date, :required => true, :class => 'form-control date_field datepicker', value: (@public_employee.end_contract_date ? @public_employee.end_contract_date.strftime("%d/%m/%Y") : nil), :placeholder => 'Ex: 00/00/0000' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:end_contract_date].first}</span>".html_safe if @public_employee.errors[:end_contract_date].first %>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :suspension_age_id, class: 'control-label asterisk' %>
                <%= select('public_employee', 'suspension_age_id', @suspension_ages.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:suspension_age_id].first}</span>".html_safe if @public_employee.errors[:suspension_age_id].first %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :commissioned_id, class: 'control-label asterisk' %>
                <%= select('public_employee', 'commissioned_id', @commissioneds.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:commissioned_id].first}</span>".html_safe if @public_employee.errors[:commissioned_id].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :margin_value, class: 'control-label asterisk' %>
                <%= f.text_field :margin_value, class: 'form-control money', :required => true, :placeholder => '0.000.000,00' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:margin_value].first}</span>".html_safe if @public_employee.errors[:margin_value].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :email, class: 'control-label' %>
                <%= f.text_field :email, class: 'form-control', :placeholder => 'email@email.com.br' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:email].first}</span>".html_safe if @public_employee.errors[:email].first %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>