<%= form_for(@public_employee) do |f| %>

    <%= render :partial => 'public_employees/basic_information', :locals => {:f => f} %>
    <%= render :partial => 'public_employees/address', :locals => {:f => f} %>
    <%= render :partial => 'public_employees/others', :locals => {:f => f} %>

    <br>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to I18n.t('reusable.back'), public_employees_path, class: 'btn btn-warning' %>
    </div>

<% end %>
