<%= grid(@public_employees_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum servidor encontrado.', class: 'well'
  end

  g.column name: I18n.t('reusable.name'), attribute: 'name', auto_reload: true do |public_employee|
    public_employee.name
  end

  g.column name: 'CPF', attribute: 'cpf', auto_reload: true do |public_employee|
    public_employee.cpf
  end

  g.column name: 'Órgão', attribute: 'name', model: 'Organ', auto_reload: true do |public_employee|
    public_employee.organ.name
  end

  g.column name: 'Contrato', attribute: 'name', model: 'Commissioned',auto_reload: true do |public_employee|
    public_employee.commissioned.name
  end

  g.column name: 'Margem', attribute: 'margin_value', auto_reload: true do |public_employee|
    number_to_currency(public_employee.margin_value, unit: 'R$', separator: ',', delimiter: '.')
  end

  g.column do |public_employee|
    buffer = link_to public_employee do
      '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end
    buffer += '   '
    buffer += link_to edit_public_employee_path(public_employee) do
      '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end
    buffer += '   '
    buffer += link_to public_employee, method: :delete, data: { confirm: I18n.t('public_employee.delete_message') } do
      '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to 'Transferir', transfer_employee_path(public_employee)

    buffer += '   '
    buffer += link_to generate_approval_password_path(id: public_employee, generate: true, format: 'pdf'), method: :post, data: { confirm: "Tem certeza que deseja gerar um senha para #{public_employee.name}?" } do
      '<i class="fa fa-lg fa-download" title="Gerar Senha"></i>'.html_safe
    end

    if public_employee.approval_password
      buffer += '  '
      buffer += link_to generate_approval_password_path(id: public_employee, format: 'pdf'), method: :post do
        '<i class="fa fa-lg fa-print" title="Imprimir senha"></i>'.html_safe
      end
    end

    raw buffer
  end

end -%>