<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Outros' %></h2>
      </header>
      <div class="panel-body">

        <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :phone, class: 'control-label' %>
                  <%= f.text_field :phone, class: 'form-control phone-field', :placeholder => 'Ex: (00) 0000 0000' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:phone].first}</span>".html_safe if @public_employee.errors[:phone].first %>
              </div>
            </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :birth_date, class: 'control-label' %>
                <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
                  <%= f.text_field :birth_date, :class => 'form-control date_field datepicker', value: (@public_employee.birth_date ? @public_employee.birth_date.strftime("%d/%m/%Y") : nil), :placeholder => 'Ex: 00/00/0000' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:birth_date].first}</span>".html_safe if @public_employee.errors[:birth_date].first %>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :marital_status_id, class: 'control-label' %>
                <%= select('public_employee', 'marital_status_id', @marital_statuses.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:marital_status_id].first}</span>".html_safe if @public_employee.errors[:marital_status_id].first %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :voter_registration, class: 'control-label' %>
                <%= f.text_field :voter_registration, class: 'form-control voter-field', :placeholder => 'Ex: 0000 0000 0000 00' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:voter_registration].first}</span>".html_safe if @public_employee.errors[:voter_registration].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :zone, class: 'control-label' %>
                <%= f.text_field :zone, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:zone].first}</span>".html_safe if @public_employee.errors[:zone].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :section, class: 'control-label' %>
                <%= f.text_field :section, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:section].first}</span>".html_safe if @public_employee.errors[:section].first %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :gender, class: 'control-label' %>
                <%= f.select :gender, ['Masculino', 'Feminino'], {:prompt => true}, class:'form-control mb-md' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:gender].first}</span>".html_safe if @public_employee.errors[:gender].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :rg, class: 'control-label' %>
                <%= f.text_field :rg, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:rg].first}</span>".html_safe if @public_employee.errors[:rg].first %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :dispatcher_organ, class: 'control-label' %>
                <%= f.text_field :dispatcher_organ, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:dispatcher_organ].first}</span>".html_safe if @public_employee.errors[:dispatcher_organ].first %>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :dispatcher_uf, class: 'control-label' %>
                  <%= f.text_field :dispatcher_uf, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@public_employee.errors[:dispatcher_uf].first}</span>".html_safe if @public_employee.errors[:dispatcher_uf].first %>
              </div>
            </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :role, class: 'control-label' %>
                <%= f.text_field :role, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:role].first}</span>".html_safe if @public_employee.errors[:role].first %>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>