<tr>
  <td><%= public_employee.name %></td>
  <td><%= public_employee.cpf %></td>
  <td><%= public_employee.registration %></td>
  <td><%= public_employee.organ.name %></td>
  <td><%= public_employee.commissioned.name %></td>

  <% if current_user.isS?(User::CONSIGNEE_LOAN_MASTER) || current_user.isS?(User::SELLER_LOAN_ONE) || current_user.isS?(User::SELLER_LOAN_TWO) %>
      <td><%= format_currency(public_employee.loan_margin_available) %></td>
  <% end %>

  <% if current_user.isS?(User::CONSIGNEE_ASSISTANCE_MASTER) || current_user.isS?(User::SELLER_ASSISTANCE_ONE) || current_user.isS?(User::SELLER_ASSISTANCE_TWO) %>
      <td><%= format_currency(public_employee.assistance_margin_available) %></td>
  <% end %>

  <% if current_user.isS?(User::CONSIGNEE_CARD_MASTER) || current_user.isS?(User::SELLER_CARD_ONE) || current_user.isS?(User::SELLER_CARD_TWO) %>
      <td><%= format_currency(public_employee.card_margin_available) %></td>
  <% end %>

  <% if current_user.isS?(User::ADMIN) %>
      <td><%= format_currency(public_employee.loan_margin_available) %></td>
  <% end %>


  <td>

    <% if can? :new, Loan %>
        <%= link_to new_loan_path(:user_id => public_employee, :operation => 'NEW') do %>
            <i class="fa fa-lg fa-dollar" title="Empréstimo"></i>
        <% end %>

        <%= link_to new_refin_path(public_employee.id, 0, 'REFIN') do %>
            <i class="fa fa-lg fa-euro" title="Refinanciamento"></i>
        <% end %>

    <% end %>

    <% if can? :new, :assistance %>
        <%= link_to new_assistance_path(public_employee) do %>
            <i class="fa fa-lg fa-medkit" title="Assistencial"></i>
        <% end %>
    <% end %>

    <% if can? :new, :card_controller %>
        <%= link_to new_card_path(public_employee) do %>
            <i class="fa fa-lg fa-credit-card" title="Cartão"></i>
        <% end %>
    <% end %>

  </td>
</tr>