<header class="page-header">
  <h2><%= 'Senha Padrão' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <div class="margin_file">
          <%= form_tag({:controller => 'public_employees', :action => 'set_default_password'}) do %>
              <div class="form-group">
                <%= password_field_tag :default_password, params[:default_password], class: 'form-control', placeholder: 'Senha Padrão' %>
              </div>

              <div class="actions" style="margin-top: 20px;">
                <%= submit_tag 'Salvar', class: 'btn btn-primary' %>
              </div>

          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
