<header class="page-header">
  <h2><%= 'Editar Contatos' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Contatos' %></h2>
      </header>
      <%= form_for @public_employee, url: update_contacts_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :email, class: 'col-md-3 control-label' %>
              <div class="col-md-6">
                <%= f.text_field :email, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:email].first}</span>".html_safe if @public_employee.errors[:email].first %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :phone, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.text_field :phone, class: 'form-control phone-field' %>
                <%= "<span class='help-block-error'>#{@public_employee.errors[:phone].first}</span>".html_safe if @public_employee.errors[:phone].first %>
              </div>
            </div>

            <%= f.hidden_field :id, :value => @public_employee.id %>
          </div>

          <br>

          <div class="actions">
            <%= f.submit :class => 'btn btn-primary' %>
            <%= link_to 'Voltar', public_employees_path, :class => 'btn btn-warning' %>
          </div>

      <% end %>

    </section>
  </div>
</div>
