<header class="page-header">
  <h2><%= 'Servidores' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel">
    <div class="panel-body">
      <%= render partial: 'grid' %>
    </div>
    <br>
    <br>
    <%= link_to I18n.t('reusable.new'), new_public_employee_path, class: 'btn btn-primary' %>
  <% if current_user.isS?(User::ADMIN) %>
      <%= link_to 'Senha Padrão', default_password_path, class: 'btn btn-warning' %>
  <% end %>
</section>