<header class="page-header">
  <h2><%= 'Reservar Margem' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <%= form_tag search_for_operation_path, :class => 'form-inline', :method => 'get' do %>
            <div class="form-group">
              <%= text_field_tag :cpf, params[:cpf], class: 'form-control cpf', placeholder: 'CPF' %>
            </div>
            <div class="form-group">
              <%= text_field_tag :registration, params[:registration], class: 'form-control', placeholder: 'Mátricula' %>
            </div>
            <div class="clearfix visible-xs mb-sm"></div>
            <%= hidden_field_tag :search, true %>
            <%= submit_tag 'Pesquisar', :class => 'btn btn-primary', :name => nil%>
        <% end %>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered mb-none">
            <thead>
            <tr>
              <th><%= 'Nome' %></th>
              <th><%= 'CPF' %></th>
              <th><%= 'Mátricula' %></th>
              <th><%= 'Órgão' %></th>
              <th><%= 'Contratação' %></th>
              <th><%= 'Margem Disponivel' %></th>
              <th></th>
            </tr>
            </thead>
            <tbody id="employees_reserve_margin">
            <% @employees.each do |employee| %>
                <tr>
                  <td><%= employee.name %></td>
                  <td><%= employee.cpf %></td>
                  <td><%= employee.registration %></td>
                  <td><%= employee.organ.name %></td>
                  <td><%= employee.commissioned.name %></td>

                  <% if current_user.isS?(User::CONSIGNEE_LOAN_MASTER) || current_user.isS?(User::SELLER_LOAN_ONE) || current_user.isS?(User::SELLER_LOAN_TWO) %>
                      <td><%= format_currency(employee.loan_margin_available) %></td>
                  <% end %>

                  <% if current_user.isS?(User::CONSIGNEE_ASSISTANCE_MASTER) || current_user.isS?(User::SELLER_ASSISTANCE_ONE) || current_user.isS?(User::SELLER_ASSISTANCE_TWO) %>
                      <td><%= format_currency(employee.assistance_margin_available) %></td>
                  <% end %>

                  <% if current_user.isS?(User::CONSIGNEE_CARD_MASTER) || current_user.isS?(User::SELLER_CARD_ONE) || current_user.isS?(User::SELLER_CARD_TWO) %>
                      <td><%= format_currency(employee.card_margin_available) %></td>
                  <% end %>

                  <% if current_user.isS?(User::ADMIN) %>
                      <td><%= format_currency(employee.loan_margin_available) %></td>
                  <% end %>


                  <td>

                    <% if can? :new, Loan %>
                        <%= link_to new_loan_path(:user_id => employee, :operation => 'NEW') do %>
                            <i class="fa fa-lg fa-dollar" title="Empréstimo"></i>
                        <% end %>

                        <%= link_to new_refin_path(employee.id, 0, 'REFIN') do %>
                            <i class="fa fa-lg fa-euro" title="Refinanciamento"></i>
                        <% end %>

                    <% end %>

                    <% if can? :new, :assistance %>
                        <%= link_to new_assistance_path(employee) do %>
                            <i class="fa fa-lg fa-medkit" title="Assistencial"></i>
                        <% end %>
                    <% end %>

                    <% if can? :new, :card_controller %>
                        <%= link_to new_card_path(employee) do %>
                            <i class="fa fa-lg fa-credit-card" title="Cartão"></i>
                        <% end %>
                    <% end %>

                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>