<header class="page-header">
  <h2><%= 'Exibir Servidor' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title"><%= 'Informação Básica' %></h2>
        </header>
        <div class="panel-body">
          <div class="col-lg-4">
            <p>
              <b><%= 'Nome' %>:</b>
              <%= @public_employee.name %>
            </p>
            <p>
              <b><%= 'CPF' %>:</b>
              <%= @public_employee.format_cpf %>
            </p>
            <p>
              <b><%= 'Órgão' %>:</b>
              <%= @public_employee.organ.name %>
            </p>
            <p>
              <b><%= 'Mátricula' %>:</b>
              <%= @public_employee.registration %>
            </p>
          </div>
          <div class="col-lg-4">
            <p>
              <b><%= I18n.t('public_employee.admission_date') %>:</b>
              <%= @public_employee.admission_date.strftime('%d/%m/%Y') %>
            </p>
            <p>
              <b><%= I18n.t('public_employee.situation') %>:</b>
              <%= @public_employee.situation.name %>
            </p>
            <p>
              <b><%= I18n.t('public_employee.end_contract_date') %>:</b>
              <%= @public_employee.end_contract_date.strftime('%d/%m/%Y') %>
            </p>
            <p>
              <b><%= I18n.t('public_employee.suspenssion_age') %>:</b>
              <%= @public_employee.suspension_age.name %>
            </p>
          </div>
          <div class="col-lg-4">
            <p>
              <b><%= I18n.t('public_employee.commissioned') %></b>
              <%= @public_employee.commissioned.name %>
            </p>
            <p>
              <b><%= I18n.t('public_employee.margin') %></b>
              <%= number_to_currency(@public_employee.margin_value, unit: 'R$', separator: ',', delimiter: '.') %>
            </p>
          </div>
        </div>
      </section>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Endereço' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-4">
          <p>
            <b><%= I18n.t('public_employee.street') %>:</b>
            <%= @public_employee.street %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.number') %>:</b>
            <%= @public_employee.number %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.complement') %>:</b>
            <%= @public_employee.complement %>
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            <b><%= I18n.t('public_employee.neighborhood') %>:</b>
            <%= @public_employee.neighborhood %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.zip_code') %>:</b>
            <%= @public_employee.zip_code %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.city') %>:</b>
            <%= @public_employee.city %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Outros' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-4">
          <p>
            <b><%= I18n.t('public_employee.phone') %>:</b>
            <%= @public_employee.phone %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.birth_date') %>:</b>
            <%= @public_employee.birth_date %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.marital_status') %>:</b>
            <%= @public_employee.marital_status.name if @public_employee.marital_status %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.voter_registration') %>:</b>
            <%= @public_employee.voter_registration %>
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            <b><%= I18n.t('public_employee.zone') %>:</b>
            <%= @public_employee.zone %>
          </p>

          <p>
            <b><%= I18n.t('public_employee.section') %>:</b>
            <%= @public_employee.section %>
          </p>

          <p>
            <b><%= I18n.t('public_employee.gender') %>:</b>
            <%= @public_employee.gender %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.rg') %>:</b>
            <%= @public_employee.rg %>
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            <b><%= I18n.t('public_employee.dispatcher_organ') %>:</b>
            <%= @public_employee.dispatcher_organ %>
          </p>
          <p>
            <b><%= I18n.t('public_employee.dispatcher_uf') %>:</b>
            <%= @public_employee.dispatcher_uf %>
          </p>

          <p>
            <b><%= I18n.t('public_employee.role') %>:</b>
            <%= @public_employee.role %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="actions">
    <%= link_to I18n.t('reusable.edit'), edit_public_employee_path(@public_employee), class: 'btn btn-primary' %>
    <%= link_to I18n.t('reusable.back'), public_employees_path, class: 'btn btn-warning' %>
</div>