<header class="page-header">
  <h2><%= 'Transferir Servidor' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<div class="row">
    <div class="col-lg-12">
        <%= form_for @public_employee, url: execute_transference_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>
            <section class="panel">
              <div class="panel-body">
                <div class="form-group">
                  <label class=" col-md-3 control-label"><%= 'Nome' %></label>
                  <div class="col-lg-6">
                    <p class="form-control-static"><%= @public_employee.name %></p>
                  </div>
                </div>
                <div class="form-group">
                    <%= f.label :organ_id, class: 'col-md-3 control-label asterisk' %>
                    <div class="col-md-6">
                      <%= select('public_employee', 'organ_id', Organ.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
                      <%= "<span class='help-block-error'>#{@public_employee.errors[:organ_id].first}</span>".html_safe if @public_employee.errors[:organ_id].first %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :registration, class: 'col-md-3 control-label asterisk'  %>
                  <div class="col-md-6">
                    <%= f.text_field :registration, class: 'form-control' %>
                    <%= "<span class='help-block-error'>#{@public_employee.errors[:registration].first}</span>".html_safe if @public_employee.errors[:registration].first %>
                  </div>
                </div>
              </div>
            </section>
          <div class="actions">
                <%= f.submit 'Transferir', data: { confirm: 'Fique ciente que ao transferir o servidor o mesmo terá seus contratos relacionados as novas informações informadas, além disso a matricula atual não existirá mais.' }, :class => "btn btn-primary" %>
          </div>
        <% end %>
    </div>
</div>