<header class="page-header">
  <h2><%= 'Solicitar Portabilidade' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <%= form_for @search_contract, remote: true, :url => search_contract_execute_path, :html => {:class => 'form-inline'} do |f| %>
            <div class="form-group">
              <%= f.label :cpf, class: 'sr-only' %>
              <%= f.text_field :cpf, class: 'form-control cpf', :placeholder => 'CPF' %>
            </div>
            <div class="form-group">
              <%= f.label :registration, class: 'sr-only' %>
              <%= f.text_field :registration, class: 'form-control', :placeholder => 'Mátricula' %>
            </div>
            <div class="clearfix visible-xs mb-sm"></div>
            <%= f.submit 'Pesquisar', :class => 'btn btn-primary'%>
        <% end %>
      </div>
    </section>
  </div>
</div>