<section class="body-sign">
    <div class="center-sign">
      <a href="/" class="logo pull-left">
        <img src="assets/mf_logo.png" height="54" alt="Margem Fácil" />
      </a>

      <div class="panel panel-sign">
        <div class="panel-title-sign mt-xl text-right">
            <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Login</h2>
        </div>
        <div class="panel-body">
          <script type="text/javascript">
              var RecaptchaOptions = {
                  theme : 'clean'
              };
          </script>
          <%= form_for @sign_in, url: authenticate_path, :html => {:id => 'admin-login-form'} do |form| %>
              <div class="form-group mb-lg">
                <%= form.label :username, 'Usuário' %>
                <div class="input-group input-group-icon">
                  <%= form.text_field :username, class: 'form-control input-lg' %>
                  <span class="input-group-addon">
                    <span class="icon icon-lg">
                        <i class="fa fa-user"></i>
                    </span>
                  </span>
                </div>
              </div>
              <%= "<span class='help-block-error'>#{@sign_in.errors[:username].first}</span>".html_safe if @sign_in.errors[:username].first %>

              <div class="form-group mb-lg">
                <div class="clearfix">
                  <%= form.label :password, 'Senha', class: 'pull-left' %>
                  <%= link_to 'Esqueceu sua senha?', reset_password_inform_email_path, :class => 'pull-right' %>
                </div>
                <div class="input-group input-group-icon">
                  <%= form.password_field :password, class: 'form-control input-lg' %>
                  <span class="input-group-addon">
                    <span class="icon icon-lg">
                        <i class="fa fa-lock"></i>
                    </span>
                </span>
                </div>
              </div>
              <%= "<span class='help-block-error'>#{@sign_in.errors[:password].first}</span>".html_safe if @sign_in.errors[:password].first %>

              

              <div class="row">
                <div class="col-sm-12 text-right">
                  <%= form.submit 'Entrar', :class => 'btn btn-primary hidden-xs' %>
                  <%= form.submit 'Entrar', :class => 'btn btn-primary btn-block btn-lg visible-xs mt-lg' %>
                </div>
              </div>
              <p class="text-left">Servidor, não possui senha? <%= link_to 'Cadastre-se', new_employee_user_path %></p>
          <% end %>
        </div>
      </div>
    </div>
</section>
