<div class="form-group">
  <%= f.label :street, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :street, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:street].first}</span>".html_safe if @public_employee.errors[:street].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :number, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :number, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:number].first}</span>".html_safe if @public_employee.errors[:number].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :complement, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :complement, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:complement].first}</span>".html_safe if @public_employee.errors[:complement].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :neighborhood, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :neighborhood, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:neighborhood].first}</span>".html_safe if @public_employee.errors[:neighborhood].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :phone, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:phone].first}</span>".html_safe if @public_employee.errors[:phone].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :zip_code, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :zip_code, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:zip_code].first}</span>".html_safe if @public_employee.errors[:zip_code].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :city, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :city, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:city].first}</span>".html_safe if @public_employee.errors[:city].first %>
  </div>
</div>