<div class="form-group">
  <%= f.label :value, class: 'col-md-3 control-label asterisk' %>
  <div class="col-md-6">
    <%= f.text_field :value, class: 'form-control', :required => true %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:value].first}</span>".html_safe if @public_employee.errors[:value].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :approval_password, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.password_field :approval_password, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:approval_password].first}</span>".html_safe if @public_employee.errors[:approval_password].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :phone, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:phone].first}</span>".html_safe if @public_employee.errors[:phone].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :email, class: 'form-control' %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:email].first}</span>".html_safe if @public_employee.errors[:email].first %>
  </div>
</div>

<div class="form-group">
  <%= f.label :marital_status_id, class: 'col-md-3 control-label' %>
  <div class="col-md-6">
    <%= select('public_employee', 'marital_status_id', MaritalStatus.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
    <%= "<span class='help-block-error'>#{@public_employee.errors[:marital_status_id].first}</span>".html_safe if @public_employee.errors[:marital_status_id].first %>
  </div>
</div>