  <%= form_for @public_employee, :url => update_personal_data_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>

      <%= hidden_field_tag 'public_employee_id', @public_employee.id %>

      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              <h2 class="panel-title"><%= 'Informações Básicas' %></h2>
            </header>
            <div class="panel-body">
              <%= render :partial => 'users/basic_information', :locals => {:f => f} %>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              <h2 class="panel-title"><%= 'Endereço' %></h2>
            </header>
            <div class="panel-body">
              <%= render :partial => 'users/address', :locals => {:f => f} %>
            </div>
          </section>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Atualizar',  :class => 'btn btn-primary' %>
      </div>

  <% end %>