<%= form_for @operator, :url => update_personal_data_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>

    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
              <%= hidden_field_tag 'operator_id', @operator.id %>

              <div class="form-group">
                <%= f.label :email, class: 'col-md-3 control-label' %>
                <div class="col-md-6">
                  <%= f.text_field :email, class: 'form-control'%>
                  <%= "<span class='help-block-error'>#{@operator.errors[:email].first}</span>".html_safe if @operator.errors[:email].first %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :company_phone_number, class: 'col-md-3 control-label' %>
                <div class="col-md-6">
                  <%= f.text_field :company_phone_number, class: 'form-control'%>
                  <%= "<span class='help-block-error'>#{@operator.errors[:company_phone_number].first}</span>".html_safe if @operator.errors[:company_phone_number].first %>
                </div>
              </div>

            </div>
        </section>
        <div class="actions">
          <%= f.submit 'Atualizar', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>


<% end %>