<%= form_for(@user) do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            <h2 class="panel-title"><%= 'Informações Básicas' %></h2>
          </header>
          <div class="panel-body">
            <%= f.fields_for :operator do |builder| %>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <%= f.label :login, class: 'control-label asterisk' %>
                      <%= f.text_field :login, class: 'form-control', :required => true, :readonly => f.object.persisted? %>
                      <%= "<span class='help-block-error'>#{@user.errors[:login].first}</span>".html_safe if @user.errors[:login].first %>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <%= builder.label :name, class: 'control-label asterisk' %>
                      <%= builder.text_field :name, class: 'form-control', :required => true, :placeholder => 'Ex: Maria Joaquina' %>
                      <%= "<span class='help-block-error'>#{@user.operator.errors[:name].first}</span>".html_safe if @user.operator.errors[:name].first %>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <%= builder.label :cpf, class: 'control-label asterisk' %>
                        <%= builder.text_field :cpf, class: 'form-control cpf', :required => true, :placeholder => 'Ex: 000.000.000-00' %>
                        <%= "<span class='help-block-error'>#{@user.operator.errors[:cpf].first}</span>".html_safe if @user.operator.errors[:cpf].first %>
                      </div>
                    </div>

                  <div class="col-sm-4">
                    <% if current_user.isS?(User::ADMIN) %>
                        <div class="form-group">
                          <%= builder.label :consignee_id, class: 'control-label' %>
                          <%= builder.select(:consignee_id, Consignee.all.collect {|p| [ p.name, p.id ] }, {:include_blank => true}, {  :class => 'form-control mb-md' }) %>
                          <%= "<span class='help-block-error'>#{@user.operator.errors[:consignee_id].first}</span>".html_safe if @user.operator.errors[:consignee_id].first %>
                        </div>
                    <% end %>
                  </div>

                  <div class="col-sm-4">
                    <% if !current_user.isS?(User::RH_MASTER) %>
                        <div class="form-group">
                          <%= builder.label :attendance_local_id, class: 'control-label' %>
                            <%= builder.select(:attendance_local_id, @attendance_locals.collect {|p| [ p.name, p.id ] }, {:include_blank => true}, {  :class => 'form-control mb-md' }) %>
                            <%= "<span class='help-block-error'>#{@user.operator.errors[:attendance_local_id].first}</span>".html_safe if @user.operator.errors[:attendance_local_id].first %>
                        </div>
                    <% end %>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= builder.label :company_phone_number, class: 'control-label asterisk' %>
                        <%= builder.text_field :company_phone_number, class: 'form-control phone-field', :required => true, :placeholder => 'Ex: (00) 0000 0000' %>
                        <%= "<span class='help-block-error'>#{@user.operator.errors[:company_phone_number].first}</span>".html_safe if @user.operator.errors[:company_phone_number].first %>
                      </div>
                    </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <%= builder.label :email, class: 'control-label asterisk' %>
                      <%= builder.text_field :email, class: 'form-control', :required => true, :placeholder => 'Ex: email@email.com.br' %>
                      <%= "<span class='help-block-error'>#{@user.operator.errors[:email].first}</span>".html_safe if @user.operator.errors[:email].first %>
                    </div>
                  </div>
                </div>

                <%= builder.hidden_field :hidden_id, :value => @operator_id %>
                <%= builder.hidden_field :current_user_roles, :value => @current_user_roles %>
            <% end -%>

          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              <h2 class="panel-title"><%= 'Perfis' %></h2>
            </header>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-md-6">
                  <%= f.select :role_ids, @roles_options.collect {|x| [x.name, x.id]}, {}, :multiple => true, class: "form-control", style: 'height: 300px;' %>
                  <%= "<span class='help-block-error'>#{@user.errors[:role_ids].first}</span>".html_safe if @user.errors[:role_ids].first %>
                </div>
              </div>
            </div>
        </section>
      </div>
    </div>

  <div class="actions" style="margin-top: 15px;">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Voltar', users_path, :class => 'btn btn-warning' %>
  </div>
<% end %>
