<%= grid(@users_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum usuário encontrado.', class: 'well'
  end

  g.column name: 'Usuário', attribute: 'login', auto_reload: true do |user|
    user.login
  end

  g.column name: 'E-mail' do |user|
    user.get_email
  end

  g.column do |user|
    buffer = link_to user do
      '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to edit_user_path(user) do
      '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to user, method: :delete, data: { confirm: I18n.t('action_confirmation.delete_user') } do
      '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
    end

    if user.blocked
      buffer += '   '
      buffer += link_to unlock_user_path(user), data: { confirm: I18n.t('action_confirmation.unlock_user')} do
        '<i class="fa fa-lg fa-unlock" title="Desbloquear"></i>'.html_safe
      end
    else
      buffer += '   '
      buffer += link_to block_user_path(user), data: { confirm: I18n.t('action_confirmation.block_user') } do
        '<i class="fa fa-lg fa-lock" title="Bloquear"></i>'.html_safe
      end
    end

    raw buffer
  end

end -%>
