

    <% if current_user.operator_id.nil?  %>
        <%= render :partial => 'change_personal_data_employee' %>
    <% else %>
        <%= render :partial => 'change_personal_data_operator' %>
    <% end %>