<div class="row">
  <div class="col-lg-12">
    <%= form_for @user, url: update_password_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>
        <section class="panel">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :actual_password, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.password_field :actual_password, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@user.errors[:actual_password].first}</span>".html_safe if @user.errors[:actual_password].first %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :new_pwd, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.password_field :new_pwd, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@user.errors[:new_pwd].first}</span>".html_safe if @user.errors[:new_pwd].first %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :pwd_confirmation, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.password_field :pwd_confirmation, class: 'form-control' %>
                <%= "<span class='help-block-error'>#{@user.errors[:pwd_confirmation].first}</span>".html_safe if @user.errors[:pwd_confirmation].first %>
              </div>
            </div>
          </div>
        </section>

        <div class="actions">
          <%= submit_tag 'Alterar Senha', :class => 'btn btn-primary' %>
          <%= link_to I18n.t('reusable.back'), dashboard_path, :class => 'btn btn-warning' %>
        </div>

    <% end %>
  </div>
</div>