<div class="general-box">
    <div class="row-fluid">
      <h3><%= 'Criar usuário' %></h3>

      <br>
      <br>

      <%= form_for(@user, :url => update_login_for_employee_user_path(params[:token])) do |f| %>

          <%= f.hidden_field :blocked, :value => false %>

          <div class="control-group">
            <label class="control-label" for="user[login]">
              <%= f.label :login %>
            </label>
            <div class="controls">
              <%= f.text_field :login, :required => true %>
              <%= show_errors_for_attribute_if_any @user, :login %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user[password]">
              <%= f.label :password %>
            </label>
            <div class="controls">
              <%= f.password_field :password, :required => true %>
              <%= show_errors_for_attribute_if_any @user, :password %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user[password_confirmation]">
              <%= f.label :password_confirmation %>
            </label>
            <div class="controls">
              <%= f.password_field :password_confirmation, :required => true %>
              <%= show_errors_for_attribute_if_any @user, :password_confirmation %>
            </div>
          </div>
          <br>
          <br>

          <%= f.submit 'Criar usuário', :class => 'btn btn-primary' %>
      <% end %>
    </div>
</div>