<div class="general-box">
  <h3><%= 'Novo usuário' %></h3>
  <br>
  <br>
  <%= form_tag({:controller => 'users', :action => 'create_employee_user'}) do %>
    <div class="row-fluid">
      <div class="control-group">
        <labe class="control-label"><%= 'Mátricula' %></labe>
        <div class="controls">
          <%= text_field_tag 'registration' %>
        </div>
      </div>

      <div class="control-group">
        <labe class="control-label"><%= 'Órgão' %></labe>
        <div class="controls">
          <%= text_field_tag 'organ' %>
        </div>
      </div>

      <div class="control-group">
        <labe class="control-label"><%= 'Senha de aprovação' %></labe>
        <div class="controls">
          <%= password_field_tag 'approval_password' %>
        </div>
      </div>

      <br>

      <%= recaptcha_tags %>


      <br>

      <div class="submit-button">
        <%= submit_tag 'Criar', :class => 'btn btn-primary' %>
      </div>
    </div>

  <% end %>
</div>