<header class="page-header">
  <h2><%= 'Editar Usuário' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
            <div class='form-horizontal form-bordered'>
              <div class="form-group">
                <label class=" col-md-3 control-label"><%= 'Nome de usuário:' %></label>
                <div class="col-lg-6">
                  <p class="form-control-static"><%= @user.login %></p>
                </div>
              </div>
              <div class="form-group">
                <label class=" col-md-3 control-label"><%= 'Nome:' %></label>
                <div class="col-lg-6">
                  <p class="form-control-static"><%= @user.operator.name if @user.operator %></p>
                </div>
              </div>
              <div class="form-group">
                <label class=" col-md-3 control-label"><%= 'E-mail:' %></label>
                <div class="col-lg-6">
                  <p class="form-control-static"><%= @user.operator.email if @user.operator %></p>
                </div>
              </div>
              <div class="form-group">
                <label class=" col-md-3 control-label"><%= 'Perfis:' %></label>
                <div class="col-lg-6">
                  <ul>
                    <% @user.roles.each do |role| %>
                        <li><p class="form-control-static"><%= role.name %></p></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
</div>

<br>
<div class="actions">
  <%= link_to I18n.t('organ.edit'), edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to I18n.t('organ.back'), users_path, class: 'btn btn-warning' %>
</div>