<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :company_phone_number %><br>
    <%= f.text_field :company_phone_number %>
  </div>
  <div class="field">
    <%= f.label :consignee_id %><br>
    <%= f.number_field :consignee_id %>
  </div>
  <div class="field">
    <%= f.label :attendance_local_id %><br>
    <%= f.number_field :attendance_local_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <%= f.fields_for :user do |builder| %>
        <div class="field">
          <%= builder.label :login %><br />
          <%= builder.text_field :login %>
        </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
