<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @operator.cpf %>
</p>

<p>
  <strong>Company phone number:</strong>
  <%= @operator.company_phone_number %>
</p>

<p>
  <strong>Consignee:</strong>
  <%= @operator.consignee_id %>
</p>

<p>
  <strong>Attendance local:</strong>
  <%= @operator.attendance_local_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @operator.email %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
