<%= form_for(@property, :html => {:class => 'form-horizontal form-bordered'}) do |f| %>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= f.text_field :name, :disabled => true ,class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :value, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <%= f.text_field :value, class: 'form-control', :required => true %>
          <%= "<span class='help-block-error'>#{@property.errors[:value].first}</span>".html_safe if @property.errors[:value].first %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :observation, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <%= f.text_area :observation, class: 'form-control', :rows => '3', :required => true %>
          <%= "<span class='help-block-error'>#{@property.errors[:observation].first}</span>".html_safe if @property.errors[:observation].first %>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', properties_path, :class => 'btn btn-warning' %>
    </div>
<% end %>