<%= grid(@properties_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhuma propriedade encontrada.', class: 'well'
  end

  g.column name: 'Descrição', attribute: 'name', auto_reload: true do |property|
    property.name
  end

  g.column name: 'Valor', attribute: 'value', auto_reload: true do |property|
    property.value
  end

  g.column name: 'Observação', attribute: 'observation', auto_reload: true do |property|
    property.observation
  end

  g.column do |property|
    link_to edit_property_path(property) do
      '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end
  end
end -%>