<tbody>
<% @properties.each do |property| %>
    <% if (@counter % 2) == 0 %>
        <tr>
    <% else %>
        <tr class="alt">
    <% end %>
    <td><%= property.name %></td>
    <td><%= property.value %></td>
    <td><%= property.observation %></td>
    <td><%= link_to image_tag('icons/edit.png', :title => I18n.t('reusable.edit')), edit_property_path(property) %> </td>
    </tr>
    <% @counter += 1 %>
<% end %>
</tbody>