<header class="page-header">
  <h2>Editar Propriedade</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
          <%= render 'form' %>
        </section>
    </div>
</div>