<header class="page-header">
  <h2>Propriedades</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<section class="panel">

  <div class="panel-body">
    <%= render partial: 'grid' %>
  </div>

</section>