<% if check_permission(:search_employee, :search_form) || check_permission(:manage_loan, Loan) || check_permission(:manage_assistance_contract, :assistance) ||
        check_permission(:manage_requests, PortabilityRequest) || check_permission(:search_for_portability, Loan) || check_permission(:manage_cards, :card_controller) ||
        check_permission(:manage, FinancialRelease) %>
    <li class="nav-parent">
      <a>
        <i class="fa fa-copy" aria-hidden="true"></i>
        <span><%= I18n.t('menu.contracts') %></span>
      </a>
      <ul class="nav nav-children">
        <% if check_permission(:search_for_operation, PublicEmployee) %>
            <li><%= link_to I18n.t('menu.reserve_margin'), search_for_operation_path %></li>
        <% end %>
        <% if can? :manage_loan, Loan %>
            <li><%= link_to I18n.t('menu.manage_loan'), manage_loan_path %></li>
        <% end %>
        <% if can? :manage_assistance_contract, :assistance %>
            <li><%= link_to I18n.t('menu.manage'), manage_assistance_contract_path %></li>
        <% end %>

        <% if check_permission(:manage_requests, PortabilityRequest) || check_permission(:search_for_portability, Loan) %>
            <li class="nav-parent">
              <a><%= 'Portabilidade' %></a>
              <ul class="nav nav-children">
                <% if can? :search_for_portability, Loan %>
                    <li><%= link_to 'Solicitar Portabilidade', search_for_portability_path %></li>
                <% end %>
                <% if can? :manage_requests, PortabilityRequest %>
                    <li><%= link_to 'Gerenciar Portabilidade', manage_portability_path %></li>
                <% end %>
              </ul>
            </li>
        <% end %>

        <% if check_permission(:manage_cards, :card_controller) || check_permission(:manage, FinancialRelease) %>
            <li class="nav-parent">
              <a><%= I18n.t('menu.card') %></a>
              <ul class="nav nav-children">
                <% if can? :manage_cards, :card_controller %>
                    <li><%= link_to I18n.t('menu.card_manage'), manage_cards_path %></li>
                <% end %>
                <% if can? :manage, FinancialRelease %>
                    <li><%= link_to I18n.t('menu.manual_release'), nil %></li>
                    <li><%= link_to I18n.t('menu.file_release'), file_release_path %></li>
                <% end %>
              </ul>
            </li>
        <% end %>
      </ul>
    </li>
<% end %>
