<% if check_permission(:manage, :insertion) || check_permission(:manage, :file) || check_permission(:manage, InsertionLine) %>
    <li class="nav-parent">
      <a>
        <i class="fa fa-folder-open" aria-hidden="true"></i>
        <span><%= I18n.t('menu.file') %></span>
      </a>
      <ul class="nav nav-children">
        <% if can? :manage, :insertion %>
            <li><%= link_to I18n.t('menu.insertion'), insertion_path %></li>
        <% end %>
        <% if can? :manage, :file %>
            <li><%= link_to I18n.t('menu.margin'), margin_file_path %></li>
            <li><%= link_to I18n.t('menu.return'), return_file_path %></li>
        <% end %>

        <% if can? :manage, InsertionLine %>
            <li><%= link_to 'Histórico de desconto', insertion_lines_path %></li>
        <% end %>

      </ul>
    </li>
<% end %>
