<% if check_permission(:index, :users) || check_permission(:index, Property) || check_permission(:index, Organ) ||
        check_permission(:index, :consignee) || check_permission(:index, ReturnCode) || check_permission(:index, PublicEmployee) ||
        check_permission(:index, :attendance_local)%>
    <li class="nav-parent">
      <a>
        <i class="fa fa-gears" aria-hidden="true"></i>
        <span><%= 'Cadastro' %></span>
      </a>
      <ul class="nav nav-children">
        <% if can? :index, :users %>
            <li><%= link_to I18n.t('menu.user'), users_path %></li>
        <% end %>
        <% if can? :index, Property %>
            <li><%= link_to I18n.t('menu.properties'), properties_path %></li>
        <% end %>
        <% if can? :index, Organ %>
            <li><%= link_to I18n.t('menu.organ_company'), organs_path %></li>
        <% end %>
        <% if can? :index, :consignee %>
            <li><%= link_to I18n.t('menu.consignee'), consignees_path %></li>
        <% end %>
        <% if can? :index, ReturnCode %>
            <li><%= link_to I18n.t('menu.return_code'), return_codes_path %></li>
        <% end %>
        <% if can? :index, PublicEmployee %>
            <li><%= link_to I18n.t('menu.employee'), public_employees_path %></li>
        <% end %>
        <% if can? :index, :attendance_local %>
            <li><%= link_to I18n.t('menu.local_attendance'), attendance_locals_path %></li>
        <% end %>
        <% if can? :index, ProductConfiguration %>
            <li><%= link_to 'Configurações', product_configurations_path %></li>
        <% end %>
      </ul>
    </li>
<% end %>