<% if check_permission(:manage, :report) %>
    <li class="nav-parent">
      <a>
        <i class="fa fa-file" aria-hidden="true"></i>
        <span><%= I18n.t('menu.report') %></span>
      </a>
      <ul class="nav nav-children">
        <% if can? :manage, :report %>
            <li><%= link_to I18n.t('menu.analytical'), analytical_report_path %></li>
            <li><%= link_to I18n.t('menu.synthetic'), synthetic_report_path %></li>
        <% end %>
      </ul>
    </li>
<% end %>