<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Endereço' %></h2>
      </header>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :street, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :street, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:street].first}</span>".html_safe if @consignee.errors[:street].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :number, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :number, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:number].first}</span>".html_safe if @consignee.errors[:number].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :complement, class: 'col-md-3 control-label' %>
          <div class="col-md-6">
            <%= f.text_field :complement, class: 'form-control' %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:complement].first}</span>".html_safe if @consignee.errors[:complement].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :neighborhood, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :neighborhood, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:neighborhood].first}</span>".html_safe if @consignee.errors[:neighborhood].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :zip_code, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :zip_code, class: 'form-control cep', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:zip_code].first}</span>".html_safe if @consignee.errors[:zip_code].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :city, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :city, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:city].first}</span>".html_safe if @consignee.errors[:city].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :state, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :state, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:state].first}</span>".html_safe if @consignee.errors[:state].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :country, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :country, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:country].first}</span>".html_safe if @consignee.errors[:country].first %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>