<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Contatos' %></h2>
      </header>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :contact, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :contact, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:contact].first}</span>".html_safe if @consignee.errors[:contact].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :post, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :post, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:post].first}</span>".html_safe if @consignee.errors[:post].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :phone_number, class: 'form-control phone-field', :required => true %>
            <%= "<span class='help-block-error'>#{@consignee.errors[:phone_number].first}</span>".html_safe if @consignee.errors[:phone_number].first %>
          </div>
        </div>
          <div class="form-group">
            <%= f.label :second_contact, class: 'col-md-3 control-label' %>
            <div class="col-md-6">
              <%= f.text_field :second_contact, class: 'form-control'%>
              <%= "<span class='help-block-error'>#{@consignee.errors[:second_contact].first}</span>".html_safe if @consignee.errors[:second_contact].first %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :second_post, class: 'col-md-3 control-label' %>
            <div class="col-md-6">
              <%= f.text_field :second_post, class: 'form-control'%>
              <%= "<span class='help-block-error'>#{@consignee.errors[:second_post].first}</span>".html_safe if @consignee.errors[:second_post].first %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :second_phone_number, class: 'col-md-3 control-label' %>
            <div class="col-md-6">
              <%= f.text_field :second_phone_number, class: 'form-control phone-field' %>
              <%= "<span class='help-block-error'>#{@consignee.errors[:second_phone_number].first}</span>".html_safe if @consignee.errors[:second_phone_number].first %>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>