<%= form_for(@consignee) do |f| %>

    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :name, class: 'control-label asterisk' %>
                  <%= f.text_field :name, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:name].first}</span>".html_safe if @consignee.errors[:name].first %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :cnpj, class: 'control-label asterisk' %>
                  <%= f.text_field :cnpj, class: 'form-control cnpj-field', :required => true, :placeholder => 'Ex: 00.000.000/0000-00' %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:cnpj].first}</span>".html_safe if @consignee.errors[:cnpj].first %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :contact, class: 'control-label asterisk' %>
                  <%= f.text_field :contact, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:contact].first}</span>".html_safe if @consignee.errors[:contact].first %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :post, class: 'control-label asterisk' %>
                  <%= f.text_field :post, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:post].first}</span>".html_safe if @consignee.errors[:post].first %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :phone_number, class: 'control-label asterisk' %>
                  <%= f.text_field :phone_number, class: 'form-control phone-field', :required => true, :placeholder => 'Ex: (00) 0000 0000' %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:phone_number].first}</span>".html_safe if @consignee.errors[:phone_number].first %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :second_contact, class: 'control-label' %>
                  <%= f.text_field :second_contact, class: 'form-control'%>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:second_contact].first}</span>".html_safe if @consignee.errors[:second_contact].first %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :second_post, class: 'control-label' %>
                  <%= f.text_field :second_post, class: 'form-control'%>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:second_post].first}</span>".html_safe if @consignee.errors[:second_post].first %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :second_phone_number, class: 'control-label' %>
                  <%= f.text_field :second_phone_number, class: 'form-control phone-field', :placeholder => 'Ex: (00) 0000 0000' %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:second_phone_number].first}</span>".html_safe if @consignee.errors[:second_phone_number].first %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :city, class: 'control-label asterisk' %>
                  <%= f.text_field :city, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:city].first}</span>".html_safe if @consignee.errors[:city].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :state, class: 'control-label asterisk' %>
                  <%= f.text_field :state, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:state].first}</span>".html_safe if @consignee.errors[:state].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :country, class: 'control-label asterisk' %>
                  <%= f.text_field :country, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:country].first}</span>".html_safe if @consignee.errors[:country].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :zip_code, class: 'control-label asterisk' %>
                  <%= f.text_field :zip_code, class: 'form-control cep', :required => true, :placeholder => 'Ex: 00000-000' %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:zip_code].first}</span>".html_safe if @consignee.errors[:zip_code].first %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :street, class: 'control-label asterisk' %>
                  <%= f.text_field :street, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:street].first}</span>".html_safe if @consignee.errors[:street].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :number, class: 'control-label asterisk' %>
                  <%= f.text_field :number, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:number].first}</span>".html_safe if @consignee.errors[:number].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :complement, class: 'control-label' %>
                  <%= f.text_field :complement, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:complement].first}</span>".html_safe if @consignee.errors[:complement].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :neighborhood, class: 'control-label asterisk' %>
                  <%= f.text_field :neighborhood, class: 'form-control', :required => true %>
                  <%= "<span class='help-block-error'>#{@consignee.errors[:neighborhood].first}</span>".html_safe if @consignee.errors[:neighborhood].first %>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <br>

    <div class="actions" style='margin-top: 20px;'>
      <%= f.submit class: 'btn btn-primary'%>
      <%= link_to I18n.t('holiday.back'), consignees_path, class: 'btn btn-warning' %>
    </div>

<% end %>
