<%= grid(@consignees_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhuma consignatária encontrada.', class: 'well'
  end

  g.column name: 'Nome', attribute: 'name', auto_reload: true do |consignee|
    consignee.name
  end

  g.column name: 'CNPJ', attribute: 'cnpj', auto_reload: true do |consignee|
    consignee.cnpj
  end

  g.column do |consignee|
    buffer = link_to products_path(consignee) do
      '<i class="fa fa-lg fa-dollar" title="Produtos"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to consignee do
      '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to edit_consignee_path(consignee) do
      '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to consignee, method: :delete, data: { confirm: I18n.t('action_confirmation.delete_user') } do
      '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
    end
  end
end -%>