<header class="page-header">
  <h2><%= 'Consignatárias' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<section class="panel">
    <div class="panel-body">
      <%= render partial: 'grid' %>
    </div>

    <br>
    <br>
    <%= link_to 'Nova', new_consignee_path, class: 'btn btn-primary' %>
</section>