<header class="page-header">
  <h2><%= 'Exibir Consignatária' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Informação Básica' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= 'Nome' %>:</b>
            <%= @consignee.name %>
          </p>
          <p>
            <b><%= 'CNPJ' %>:</b>
            <%= @consignee.cnpj %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Contato' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= 'Contato' %>:</b>
            <%= @consignee.contact %>
          </p>
          <p>
            <b><%= 'Cargo' %>:</b>
            <%= @consignee.post %>
          </p>
          <p>
            <b><%= 'Telefone' %>:</b>
            <%= @consignee.phone_number %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Contato Alternativo' %>:</b>
            <%= @consignee.second_contact %>
          </p>
          <p>
            <b><%= 'Cargo' %>:</b>
            <%= @consignee.second_post %>
          </p>
          <p>
            <b><%= 'Telefone' %>:</b>
            <%= @consignee.second_phone_number %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= ' Endereço ' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.street') %>:</b>
            <%= @consignee.street %>
          </p>
          <p>
            <b><%= I18n.t('address.number') %>:</b>
            <%= @consignee.number %>
          </p>
          <p>
            <b><%= I18n.t('address.complement') %>:</b>
            <%= @consignee.complement %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.neighborhood') %>:</b>
            <%= @consignee.neighborhood %>
          </p>
          <p>
            <b><%= I18n.t('address.zip_code') %>:</b>
            <%= @consignee.zip_code %>
          </p>
          <p>
            <b><%= I18n.t('address.city') %>:</b>
            <%= @consignee.city %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.state') %>:</b>
            <%= @consignee.state %>
          </p>
          <p>
            <b><%= I18n.t('address.country') %>:</b>
            <%= @consignee.country %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>

<div class="actions">
  <%= link_to 'Editar', edit_consignee_path(@consignee), class: 'btn btn-primary' %>
  <%= link_to 'Voltar', consignees_path, class: 'btn btn-warning' %>
</div>


