<%= form_for(@product_configuration) do |f| %>
  <% if @product_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_configuration.errors.count, "error") %> prohibited this product_configuration from being saved:</h2>

      <ul>
      <% @product_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :configuration_id %><br>
    <%= f.number_field :configuration_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.check_box :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
