<%= grid(@grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhuma configuração encontrada.', class: 'well'
  end

  g.column name: 'Nome', attribute: 'name', model: 'Configuration', auto_reload: true do |config|
    config.configuration.name
  end

  g.column name: 'Observação', attribute: 'observation', model: 'Configuration', auto_reload: true do |config|
    config.configuration.observation
  end

  g.column name: 'Valor' do |config|
    config.value == false ? 'Inativo' : 'Ativo'
  end

  g.column do |config|

    if config.value == false
      buffer = link_to active_configuration_path(config), method: :post do
        '<i class="fa fa-lg fa-check" title="Ativar"></i>'.html_safe
      end
    else
      buffer = link_to disable_configuration_path(config), method: :post, data: { confirm: 'Você tem certeza que deseja desativar a configuração?' } do
        '<i class="fa fa-lg fa-minus-circle" title="Desativar"></i>'.html_safe
      end
    end

    raw buffer
  end

end -%>
