<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_configuration.product_id %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @product_configuration.configuration_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product_configuration.value %>
</p>

<%= link_to 'Edit', edit_product_configuration_path(@product_configuration) %> |
<%= link_to 'Back', product_configurations_path %>
