<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados do contrato' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= 'Número do contrato' %>:</b>
            <%= @assistance.contract_number %>
          </p>
          <p>
            <b><%= 'Servidor' %>:</b>
            <%= @assistance.public_employee.name %>
          </p>
          <p>
            <b><%= 'CPF' %>:</b>
            <%= @assistance.public_employee.cpf %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Mátricula' %>:</b>
            <%= @assistance.public_employee.registration %>
          </p>
          <p>
            <b><%= 'Valor do contrato' %>:</b>
            <%= format_currency(@assistance.discount_value) %>
          </p>
          <p>
            <b><%= 'Status' %>:</b>
            <%= @assistance.status %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Data' %>:</b>
            <%= @assistance.created_at.strftime('%d/%m/%Y') %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>