<%= grid(@assistance_grid) do |g|

  g.column name: 'Consignatária' do |assistance|
    assistance.consignee.name if assistance.consignee
  end

  g.column name: 'Valor do desconto' do |assistance|
    format_currency(assistance.discount_value)
  end

end -%>