<%= form_for @assistance, :url => url_for(:controller => 'assistance', :action => @action), :html => {:class => 'form-horizontal form-bordered'} do |f| %>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                  <h2 class="panel-title"><%= 'Dados de contrato assistencial' %></h2>
                </header>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :discount_value, class: 'col-md-3 control-label asterisk' %>
                    <div class="col-md-6">
                      <%= f.text_field :discount_value, class: 'form-control money', :required => true, :readonly => f.object.persisted? %>
                      <%= "<span class='help-block-error'>#{@assistance.errors[:discount_value].first}</span>".html_safe if @assistance.errors[:discount_value].first %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :approval_password, class: 'col-md-3 control-label' %>
                    <div class="col-md-6">
                      <%= f.password_field :approval_password, class: 'form-control' %>
                      <%= "<span class='help-block-error'>#{@assistance.errors[:approval_password].first}</span>".html_safe if @assistance.errors[:approval_password].first %>
                    </div>
                  </div>
                </div>
            </section>
          <div class="actions">
            <%= f.submit :class => 'btn btn-primary' %>
            <%= link_to I18n.t('organ.back'), search_employee_path, class: 'btn btn-warning' %>
          </div>
        </div>
    </div>

<% end %>