<%= grid(@manage_assistance_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum Contrato Assistencial encontrado.', class: 'well'
  end

  g.column name: 'Número contrato' do |assistance|
    assistance.contract_number if assistance.contract_number
  end

  g.column name: 'Nome' do |assistance|
    assistance.public_employee.name
  end

  g.column name: 'Matricula', attribute: 'registration', model: 'PublicEmployee', auto_reload: true do |assistance|
    assistance.public_employee.registration
  end

  g.column name: 'Data operação' do |assistance|
    assistance.created_at.strftime("%d/%m/%Y")
  end

  g.column name: 'Status' do |assistance|
    assistance.status
  end

  g.column do |assistance|

    buffer = link_to assistance_path(assistance) do
        '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    if assistance.status == AssistanceContract::AGUARDANDO_SERVIDOR
      buffer += '   '
      buffer += link_to edit_assistance_path(assistance) do
        '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
      end

    end

    if assistance.status == AssistanceContract::AGUARDANDO_SERVIDOR || assistance.status == AssistanceContract::AUTORIZADO_SERVIDOR
      buffer += '   '
      buffer += link_to cancel_assistance_path(assistance) do
        '<i class="fa fa-lg fa-minus-circle" title="Cancelar Reserva"></i>'.html_safe
      end
    end

    if assistance.status == AssistanceContract::AUTORIZADO_SERVIDOR
      if can? :approve, :assistance
        buffer += '   '
        buffer += link_to assistance_approve_path(assistance) do
          '<i class="fa fa-lg fa-check" title="Aprovar"></i>'.html_safe
        end
      end
      if can? :refuse, :assistance
        buffer += '   '
        buffer += link_to assistance_refuse_path(assistance) do
          '<i class="fa fa-lg fa-remove" title="Recusar"></i>'.html_safe
        end
      end
    end
    if assistance.status == AssistanceContract::EM_FOLHA
      buffer += '   '
        buffer += link_to suspended_assistance_path(assistance) do
            '<i class="fa fa-lg fa-ban" title="Suspender"></i>'.html_safe
        end
    end
    if can? :index, :variation
      if assistance.status == AssistanceContract::EM_FOLHA || assistance.status == AssistanceContract::APROVADO
        buffer += '   '
        buffer += link_to variations_path(:assistance_id => assistance.id) do
          '<i class="fa fa-lg fa-plus" title="Variação"></i>'.html_safe
        end
      end
    end

    raw buffer
  end

end -%>