<header class="page-header">
  <h2><%= 'Aprovar Assistencial' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<%= render :partial => 'assistance/assistance_information', :locals => {:assistance => @assistance} %>

<div class="row">
  <div class="col-lg-12">
    <%= form_for @assistance, url: approve_execute_assistance_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>
        <section class="panel">
            <div class="panel-body">
              <%= f.hidden_field :operator_id, :value => current_user.operator.id %>
              <div class="form-group">
                <%= f.label :contract_number, class: 'col-md-3 control-label asterisk' %>
                <div class="col-md-6">
                  <%= f.text_field :contract_number, class: 'form-control', :placeholder => 'Ex: 0.000.000,00' %>
                  <%= "<span class='help-block-error'>#{@assistance.errors[:contract_number].first}</span>".html_safe if @assistance.errors[:contract_number].first %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :observation, class: 'col-md-3 control-label' %>
                <div class="col-md-6">
                  <%= f.text_area :observation, class: 'form-control' %>
                </div>
              </div>
            </div>
        </section>
        <div class="actions">
          <%= submit_tag 'Aprovar', :class => "btn btn-primary" %>
          <%= link_to I18n.t('reusable.back'), manage_assistance_contract_path, class: 'btn btn-warning' %>
        </div>
    <% end %>
  </div>
</div>