<header class="page-header">
  <h2><%= 'Novo Contrato Assistencial' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<%= render 'assistance/employee_information' %>

<br>

<%= render 'assistance/form' %>