<header class="page-header">
  <h2><%= 'Exibir Assistencial' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados do servidor' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-4">
          <p>
            <b><%= 'Servidor' %>:</b>
            <%= @assistance.public_employee.name if @assistance.public_employee %>
          </p>
          <p>
            <b><%= 'CPF' %>:</b>
            <%= @assistance.public_employee.format_cpf if @assistance.public_employee %>
          </p>
          <p>
            <b><%= 'Mátricula' %>:</b>
            <%= @assistance.public_employee.registration if @assistance.public_employee %>
          </p>
          <p>
            <b><%= 'Órgão' %>:</b>
            <%= @assistance.public_employee.organ.name if @assistance.public_employee && @assistance.public_employee.organ %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados do contrato assistencial' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-4">
          <p>
            <b><%= 'Valor do desconto' %>:</b>
            <%= format_currency(@assistance.discount_value) %>
          </p>
          <p>
            <b><%= 'Status' %>:</b>
            <%= @assistance.status %>
          </p>
          <p>
            <b><%= 'Consignatária' %>:</b>
            <%= @assistance.consignee.name if @assistance.consignee %>
          </p>
          <p>
            <b><%= 'Data' %>:</b>
            <%= @assistance.created_at.strftime('%d/%m/%Y') %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="actions">
  <%= link_to I18n.t('reusable.back'), manage_assistance_contract_path, class: 'btn btn-warning' %>
</div>