<%= grid(@insertions_grid, show_filters: :when_filtered) do |g|
  g.blank_slate do
    content_tag :div, 'Nenhum arquivo encontrado.', class: 'well'
  end

  g.column name: 'Arquivo', attribute: 'file_name', auto_reload: true do |insertion|
    insertion.file_name
  end

  g.column do |insertion|
    link_to 'Download', insertion_download_path(:insertion_id => insertion.id)
  end
end -%>