<header class="page-header">
  <h2><%= 'Arquivo de Inserção' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
        <div class="panel-body">
          <%= form_for(@insertion, :url => generate_insertion_file_path) do |f| %>

              <%= hidden_field_tag 'month', @month %>
              <%= hidden_field_tag 'year', @year %>

              <div class="row">
                <div class="col-sm-1">
                  <div class="form-group">
                    <%= f.label :month, class: 'control-label' %>
                    <%= f.text_field :month, class: 'form-control', :disabled => true, :value => @month, :style => 'width: 50px;' %>
                    <%= "<span class='help-block-error'>#{@insertion.errors[:month].first}</span>".html_safe if @insertion.errors[:month].first %>
                  </div>

                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <%= f.label :year, class: 'control-label' %>
                    <%= f.text_field :year, class: 'form-control', :disabled => true, :value => @year, :style => 'width: 60px;' %>
                    <%= "<span class='help-block-error'>#{@insertion.errors[:year].first}</span>".html_safe if @insertion.errors[:year].first %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="span10" style="margin-top: 24px;">
                    <%= submit_tag 'Gerar', :class => 'btn btn-primary' %>
                  </div>
                </div>
              </div>

          <% end %>
        </div>
    </section>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              <h2 class="panel-title"><%= 'Downloads' %></h2>
            </header>
            <div class="panel-body">
              <%= render partial: 'grid' %>
            </div>
        </section>
    </div>
</div>
