<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados da proposta' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= 'Número proposta:' %></b>
            <%= card.proposal_number %>
          </p>
          <p>
            <b><%= 'Servidor:' %></b>
            <%= card.public_employee.name %>
          </p>
          <p>
            <b><%= 'CPF:' %></b>
            <%= card.public_employee.cpf %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Mátricula:' %></b>
            <%= card.public_employee.registration %>
          </p>
          <p>
            <b><%= 'Valor desconto:' %></b>
            <%= format_currency(card.discount_value) %>
          </p>
          <p>
            <b><%= 'Status:' %></b>
            <%= card.status %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Data:' %></b>
            <%= card.created_at.strftime('%d/%m/%Y') %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>