<section class="panel">
  <header class="panel-heading">
    <h2 class="panel-title"><%= 'Dados do servidor' %></h2>
  </header>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Nome', nil ,class: 'control-label' %>
            <%= text_field_tag 'name', @employee.name, class: 'form-control', :readonly => true  %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'CPF', nil ,class: 'control-label' %>
            <%= text_field_tag 'cpf', @employee.cpf, class: 'form-control', :readonly => true  %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Data Admissão', nil ,class: 'control-label' %>
            <%= text_field_tag 'admission_date', @employee.admission_date.strftime('%d/%m/%Y'), class: 'form-control', :readonly => true  %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Matricula', nil ,class: 'control-label' %>
            <%= text_field_tag 'admission_date', @employee.registration, class: 'form-control', :readonly => true  %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Órgão', nil ,class: 'control-label' %>
            <%= text_field_tag 'organ', @employee.organ.name, class: 'form-control', :readonly => true  %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Tipo Contratação', nil ,class: 'control-label' %>
            <%= text_field_tag 'commissioned', @employee.commissioned.name, class: 'form-control', :readonly => true  %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Cargo', nil ,class: 'control-label' %>
            <%= text_field_tag 'role', @employee.role, class: 'form-control', :readonly => true  %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Marem', nil ,class: 'control-label' %>
            <%= text_field_tag 'margin_value', format_currency(@employee.margin_value) , class: 'form-control', :readonly => true  %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= label_tag 'Margem Disponivel', nil ,class: 'control-label' %>
            <%= text_field_tag 'margin_available', format_currency(@employee.card_margin_available), class: 'form-control', :readonly => true  %>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>