<%= grid(@manage_card_grid, show_filters: :when_filtered ) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum cartão encontrado.', class: 'well'
  end

  g.column name: 'Número da proposta', attribute: 'proposal_number', auto_reload: true do |card|
    card.proposal_number
  end

  g.column name: 'Servidor', attribute: 'name', model: 'PublicEmployee', auto_reload: true do |card|
    card.public_employee.name
  end

  g.column name: 'CPF', attribute: 'cpf', model: 'PublicEmployee', auto_reload: true do |card|
    card.public_employee.cpf
  end

  g.column name: 'Mátricula', attribute: 'registration', model: 'PublicEmployee', auto_reload: true do |card|
    card.public_employee.registration
  end

  g.column name: 'Valor', attribute: 'discount_value', auto_reload: true do |card|
    format_currency(card.discount_value)
  end

  g.column name: 'Status', attribute: 'status', auto_reload: true do |card|
    card.status
  end

  g.column do |card|
    buffer = link_to card_path(card) do
        '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    if card.status == Card::AGUARDANDO_SERVIDOR
      buffer += '   '
        buffer += link_to edit_card_path(card) do
            '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
        end
    end
    if card.status == Card::AUTORIZADO_SERVIDOR
      if can? :approve, :card_controller
        buffer += '   '
        buffer += link_to card_approve_path(card) do
          '<i class="fa fa-lg fa-check" title="Aprovar"></i>'.html_safe
        end
      end
      if can? :refuse, :card_controller
        buffer += '   '
        buffer += link_to card_refuse_path(card) do
          '<i class="fa fa-lg fa-remove" title="Recusar"></i>'.html_safe
        end
      end
    end
    if card.status != Card::CANCELADO || card.status != Card::REPROVADO_CONSIGNATARIA
      buffer += '   '
        buffer += link_to card_cancel_path(card) do
            '<i class="fa fa-lg fa-ban" title="Cancelar"></i>'.html_safe
        end
    end
  end

end -%>