<header class="page-header">
  <h2><%= 'Gerenciar Cartões' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
              <%= render partial: 'manage_card_grid' %>
            </div>
        </section>
    </div>
</div>