<header class="page-header">
  <h2><%= 'Exibir Cartão' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              <h2 class="panel-title"><%= 'Dados do servidor' %></h2>
            </header>
            <div class="panel-body">
                <div class="col-lg-4">
                  <p>
                    <b><%= 'Servidor' %>:</b>
                    <%= @card.public_employee.name %>
                  </p>
                  <p>
                    <b><%= 'CPF' %>:</b>
                    <%= @card.public_employee.format_cpf %>
                  </p>
                  <p>
                    <b><%= 'Mátricula' %>:</b>
                    <%= @card.public_employee.registration %>
                  </p>
                  <p>
                    <b><%= 'Órgão' %>:</b>
                    <%= @card.public_employee.organ.name %>
                  </p>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title"><%= 'Dados do cartão' %></h2>
        </header>
        <div class="panel-body">
          <div class="col-lg-4">
            <p>
              <b><%= 'Valor do desconto' %>:</b>
              <%= format_currency(@card.discount_value) %>
            </p>
            <p>
              <b><%= 'Status' %>:</b>
              <%= @card.status %>
            </p>
            <p>
              <b><%= 'Consignatária' %>:</b>
              <%= @card.consignee.name %>
            </p>
            <p>
              <b><%= 'Data' %>:</b>
              <%= @card.created_at.strftime('%d/%m/%Y') %>
            </p>
          </div>
        </div>
    </section>
  </div>
</div>

<div class="actions">
  <%= link_to 'Voltar', manage_cards_path, class: 'btn btn-warning' %>
</div>