<%= form_for(@insertion_line) do |f| %>
  <% if @insertion_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insertion_line.errors.count, "error") %> prohibited this insertion_line from being saved:</h2>

      <ul>
      <% @insertion_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
