<%= grid(@insertion_line_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum desconto encontrado.', class: 'well'
  end

  g.column name: 'Ano', attribute: 'year', auto_reload: true do |line|
    line.year
  end

  g.column name: 'Mês', attribute: 'month', auto_reload: true do |line|
    line.month
  end

  g.column name: 'Matrícula', attribute: 'registration', auto_reload: true do |line|
    line.registration
  end

  g.column name: 'Consignatária' do |line|
    line.get_financial_operation.consignee.name
  end

  g.column name: 'Valor' do |line|
    format_currency(line.get_operation_value)
  end

  g.column name: 'Descontado' do |line|
    format_currency(line.discount_value.to_f / 100)
  end

  g.column name: 'Tipo' do |line|
    'Variação' if line.insertion_type == InsertionLine::VARIATION
    'Empréstimo' if line.insertion_type == InsertionLine::LOAN
    'Cartão' if line.insertion_type == InsertionLine::FINANCIAL_RELEASE
    'Assistencial' if line.insertion_type == InsertionLine::ASSISTANCE
  end

  g.column name: 'Código de retorno' do |line|
    line.averbation_code
  end

end -%>