<header class="page-header">
  <h2><%= 'Histórico de Descontos' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <div class="panel-body">
    <%= form_tag download_file_path, method: 'get' do %>
        <%= render partial: 'grid' %>
        <%= submit_tag 'CSV', class: 'btn btn-primary' %>
        <%= submit_tag 'TXT', class: 'btn btn-primary' %>
    <% end %>
  </div>
</section>