/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ../../../vendor/assets/stylesheets/porto/bootstrap.css
 *= require ../../../vendor/assets/stylesheets/porto/magnific-popup.css
 *= require ../../../vendor/assets/stylesheets/porto/datepicker3.css
 *= require ../../../vendor/assets/stylesheets/porto/jquery-ui-1.10.4.custom.css
 *= require ../../../vendor/assets/stylesheets/porto/bootstrap-multiselect.css
 *= require ../../../vendor/assets/stylesheets/porto/morris.css
 *= require ../../../vendor/assets/stylesheets/porto/select2.css
 *= require ../../../vendor/assets/stylesheets/porto/datatables.css
 *= require ../../../vendor/assets/stylesheets/porto/bootstrap-fileupload.min.css
 *= require ../../../vendor/assets/stylesheets/alertify.core.css
 *= require ../../../vendor/assets/stylesheets/alertify.default.css
 *= require ../../../vendor/assets/stylesheets/alertify.bootstrap.css
 *= require ../../../vendor/assets/stylesheets/porto/theme.css
 *= require ../../../vendor/assets/stylesheets/porto/theme-custom.css
 *= require ../../../vendor/assets/stylesheets/porto/default.css
 *= require_tree .
 */

.help-block-error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
}

label.asterisk:after {
    content: " *";
}

/*-----------------------------------------------------------------------------*/
.form_help_content {
    display: none;
    padding: 10px;
    margin: -45px 52px 0px 40px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    max-width:300px;
    z-index: 9999;
    position:absolute;
}
/*-----------------------------------------------------------------------------*/

/*MESSAGES CSS ----------------------------------------------------------------*/
/*.info, .success, .warning, .error, .validation {
	padding: 7px;	
	text-align: center;	
	color: green;	
	background-color: #D6E9C6;	
	margin: 30px 20px 10px 20px;	
	border-radius: 0px 30px 0px 30px;
}
.info {color: #00529B;background-color: #BDE5F8;box-shadow: 0px 0px 20px #00529B;}
.success {color: #4F8A10;background-color: #99FF99;box-shadow: 0px 0px 20px #4F8A10;}
.warning {color: #9F6000;background-color: #FEEFB3;box-shadow: 0px 0px 20px #9F6000;}
.error {color: #D8000C; background-color: #FFBABA;box-shadow: 0px 0px 20px #D8000C;}*/
.login-message { position: absolute; z-index: 500; width: 450px; left: 50%; margin-left: -225px; }
.survey_label {float: left;margin-right: 15px;}
/*------------------------------------------------------------------------------*/


.box-validation {
    text-align: center;
    background-color: #DBC59E;
    padding: 20px;
    border-radius: 30px 0 30px 0;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 30px 15px 20px 10px !important;
}
.box-validation h3 {margin-bottom: 15px;border-bottom: 2px solid green;}
.img-link {text-align: center; min-width: 100px;}
.limpa {clear: both;}
.centralize {text-align: center}
.just {text-align: justify}
.underline {text-decoration: underline}
.email {text-decoration: underline; color: blue}
.bold {font-weight: bold}

/*UTILS FOR DATE FIELDS*/
.field_date {width: 48.7%;float: left;}
/*---------------------*/
