// Place all the styles related to the Organs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paginate {
  margin-top: 20px;
  float: right !important;
}