// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr{
  text-align: center;
}

.actions-margin-top{
  margin-top: 15px;
}

input[type='checkbox'] {
  width: 14px;
  height: 14px;
}

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
}

.role_height{
  height: 300px;
}