<%= form_for(@financial_release) do |f| %>
  <% if @financial_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@financial_release.errors.count, "error") %> prohibited this financial_release from being saved:</h2>

      <ul>
      <% @financial_release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_id %><br>
    <%= f.number_field :card_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
