<%= grid(@reviews_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum alerta encontrado.', class: 'well'
  end

  g.column name: 'Erro', attribute: 'error', auto_reload: true do |review|
    review.error
  end

  g.column name: 'Data' do |review|
    review.created_at
  end
end -%>