<header class="page-header">
  <h2><%= 'Lançamento Automático' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title"><%= 'Arquivo' %></h2>
        </header>
        <div class="panel-body">
          <%= form_tag({:controller => 'financial_releases', :action => 'upload'}, multipart: true) do %>
              <%= file_field_tag 'releases_file' %>

              <div class="actions" style="margin-top: 20px;">
                <%= submit_tag I18n.t('upload.do_upload'), class: 'btn btn-primary' %>
              </div>
          <% end %>
        </div>
      </section>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title"><%= 'Alertas' %></h2>
        </header>
        <div class="panel-body">
          <%= render :partial => 'financial_releases/review_financial_release_grid' %>
        </div>
    </section>
  </div>
</div>