<h1>Listing financial_releases</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_releases.each do |financial_release| %>
      <tr>
        <td><%= financial_release.card_id %></td>
        <td><%= financial_release.value %></td>
        <td><%= link_to 'Show', financial_release %></td>
        <td><%= link_to 'Edit', edit_financial_release_path(financial_release) %></td>
        <td><%= link_to 'Destroy', financial_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial release', new_financial_release_path %>
