<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @financial_release.card_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= format_currency(@financial_release.value) %>
</p>

<%= link_to 'Edit', edit_financial_release_path(@financial_release) %> |
<%= link_to 'Back', financial_releases_path %>
