<%= grid(@search_employee_grid) do |g|


  g.column name: 'Nome' do |employee|
    employee.name
  end

  g.column name: 'CPF' do |employee|
    employee.cpf
  end

  g.column name: 'Mátricula' do |employee|
    employee.registration
  end

  g.column name: I18n.t('public_employee.organ') do |employee|
    employee.organ.name
  end

  g.column name: I18n.t('public_employee.contact_type') do |employee|
    employee.commissioned.name
  end

  g.column name: 'Margem Disponivel' do |employee|
    employee.loan_margin_available
  end

  g.column do |employee|
    link_to image_tag('icons/show.png', :title => I18n.t('reusable.show')), nil
  end

  g.column do |employee|
    link_to 'Novo', new_loan_path(:user_id => employee, :operation => 'NEW')
  end

  g.column do |employee|
    link_to 'REFIN', new_loan_path(:user_id => employee, :operation => 'REFIN')
  end

  g.column do |employee|
    link_to 'PORT', new_loan_path(:user_id => employee, :operation => 'PORT')
  end

  g.column do |employee|
    link_to 'Assistencial', new_assistance_path(employee)
  end

  g.column do |employee|
    link_to 'Cartao', new_card_path(employee)
  end

end -%>