<tr>
  <td><%= public_employee.name %></td>
  <td><%= public_employee.cpf %></td>
  <td><%= public_employee.registration %></td>
  <td><%= public_employee.organ.name %></td>
  <td><%= public_employee.commissioned.name %></td>
  <td><%= public_employee.loan_margin_available %></td>
  <td></td>
</tr>