<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Informação Básica' %></h2>
      </header>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :code, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :code, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@organ.errors[:code].first}</span>".html_safe if @organ.errors[:code].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :name, class: 'col-md-3 control-label asterisk' %>
          <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control', :required => true %>
            <%= "<span class='help-block-error'>#{@organ.errors[:name].first}</span>".html_safe if @organ.errors[:name].first %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cnpj, class: 'col-md-3 control-label' %>
          <div class="col-md-6">
            <%= f.text_field :cnpj, class: 'form-control cnpj-field' %>
            <%= "<span class='help-block-error'>#{@organ.errors[:cnpj].first}</span>".html_safe if @organ.errors[:cnpj].first %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>