<%= form_for(@organ) do |f| %>

    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= f.label :name, class: 'control-label asterisk' %>
                      <%= f.text_field :name, class: 'form-control', :required => true %>
                      <%= "<span class='help-block-error'>#{@organ.errors[:name].first}</span>".html_safe if @organ.errors[:name].first %>
                  </div>
                </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <%= f.label :code, class: 'control-label asterisk' %>
                    <%= f.text_field :code, class: 'form-control', :required => true %>
                    <%= "<span class='help-block-error'>#{@organ.errors[:code].first}</span>".html_safe if @organ.errors[:code].first %>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <%= f.label :cnpj, class: 'control-label' %>
                    <%= f.text_field :cnpj, class: 'form-control cnpj-field', :placeholder => 'Ex: 00.000.000/0000-00' %>
                    <%= "<span class='help-block-error'>#{@organ.errors[:cnpj].first}</span>".html_safe if @organ.errors[:cnpj].first %>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :city, class: 'control-label' %>
                  <%= f.text_field :city, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:city].first}</span>".html_safe if @organ.errors[:city].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :state, class: 'control-label' %>
                  <%= f.text_field :state, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:state].first}</span>".html_safe if @organ.errors[:state].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :country, class: 'control-label' %>
                  <%= f.text_field :country, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:country].first}</span>".html_safe if @organ.errors[:country].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :zip_code, class: 'control-label' %>
                  <%= f.text_field :zip_code, class: 'form-control cep', :placeholder => 'Ex: 00000-000' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:zip_code].first}</span>".html_safe if @organ.errors[:zip_code].first %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :street, class: 'control-label' %>
                  <%= f.text_field :street, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:street].first}</span>".html_safe if @organ.errors[:street].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :number, class: 'control-label' %>
                  <%= f.text_field :number, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:number].first}</span>".html_safe if @organ.errors[:number].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :complement, class: 'control-label' %>
                  <%= f.text_field :complement, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:complement].first}</span>".html_safe if @organ.errors[:complement].first %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.label :neighborhood, class: 'control-label' %>
                  <%= f.text_field :neighborhood, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@organ.errors[:neighborhood].first}</span>".html_safe if @organ.errors[:neighborhood].first %>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>


    <br/>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to I18n.t('organ.back'), organs_path, class: 'btn btn-warning' %>
    </div>
<% end %>
