<%= grid(@organs_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum órgão encontrado.', class: 'well'
  end

  g.column name: 'Código', attribute: 'code', auto_reload: true do |organ|
    organ.code
  end

  g.column name: 'Nome', attribute: 'name', auto_reload: true do |organ|
    organ.name
  end

  g.column do |organ|
    buffer = link_to organ do
      '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to edit_organ_path(organ) do
      '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end

    buffer += '   '
    buffer += link_to organ, method: :delete, data: { confirm: I18n.t('action_confirmation.delete_organ') } do
      '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
    end

    raw buffer
  end

end -%>