<div id="filtered_organs">
  <% if @organs.empty? %>
    <h2><%= I18n.t('organ.organs_not_found') %></h2>
  <% else %>
      <table>
        <thead>
        <tr>
          <th><%= I18n.t('organ.code') %></th>
          <th><%= I18n.t('organ.name') %></th>
          <th><%= I18n.t('organ.abbreviation') %></th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @organs.each do |organ| %>
            <tr>
              <td><%= organ.code %></td>
              <td><%= organ.name %></td>
              <td><%= organ.abbreviation %></td>
              <td><%= link_to 'Show', organ %></td>
              <td><%= link_to 'Edit', edit_organ_path(organ) %></td>
              <td><%= link_to 'Destroy', organ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="span3 paginate">
        <% if paginate(@organs) %>
            <%= paginate(@organs) %>
        <% end %>
      </div>

  <% end %>

  <br/>

  <%= link_to I18n.t('organ.new_organ'), new_organ_path, :class => 'btn btn-primary' %>

</div>