<header class="page-header">
  <h2><%= 'Exibir Órgão' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Informação Básica' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('organ.code') %>:</b>
            <%= @organ.code %>
          </p>
          <p>
            <b><%= I18n.t('organ.name') %>:</b>
            <%= @organ.name %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('organ.cnpj') %>:</b>
            <%= @organ.cnpj %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= ' Endereço ' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.street') %>:</b>
            <%= @organ.street %>
          </p>
          <p>
            <b><%= I18n.t('address.number') %>:</b>
            <%= @organ.number %>
          </p>
          <p>
            <b><%= I18n.t('address.complement') %>:</b>
            <%= @organ.complement %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.neighborhood') %>:</b>
            <%= @organ.neighborhood %>
          </p>
          <p>
            <b><%= I18n.t('address.zip_code') %>:</b>
            <%= @organ.zip_code %>
          </p>
          <p>
            <b><%= I18n.t('address.city') %>:</b>
            <%= @organ.city %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= I18n.t('address.state') %>:</b>
            <%= @organ.state %>
          </p>
          <p>
            <b><%= I18n.t('address.country') %>:</b>
            <%= @organ.country %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>
<div class="actions">
  <%= link_to I18n.t('organ.edit'), edit_organ_path(@organ), class: 'btn btn-primary' %>
  <%= link_to I18n.t('organ.back'), organs_path, class: 'btn btn-warning' %>
</div>