<%= form_for(@product, :html => {:class => 'form-horizontal form-bordered'}) do |f| %>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :event_code, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <%= f.text_field :event_code, class: 'form-control' %>
          <%= "<span class='help-block-error'>#{@product.errors[:event_code].first}</span>".html_safe if @product.errors[:event_code].first %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :deadline, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <%= f.number_field :deadline, class: 'form-control', :required => true %>
          <%= "<span class='help-block-error'>#{@product.errors[:deadline].first}</span>".html_safe if @product.errors[:deadline].first %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :product_type_id, class: 'col-md-3 control-label asterisk' %>
        <div class="col-md-6">
          <% if action_name == 'edit' %>
              <div class="col-lg-6">
                <p class="form-control-static"><%= @product.product_type.name %></p>
                <%= "<span class='help-block-error'>#{@product.errors[:product_type_id].first}</span>".html_safe if @product.errors[:product_type_id].first %>
              </div>
          <% else %>
              <% if !@product_types.blank? %>
                  <%= select('product', "product_type_id", @product_types.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione'}, class:'form-control mb-md') %>
              <% else %>
                  <div class="col-lg-8">
                    <p class="form-control-static"><%= 'Todos os produtos já foram utilizados.' %></p>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to I18n.t('reusable.back'), products_path(session[:consignee_id_products]), class: 'btn btn-warning' %>
    </div>
    
<% end %>
