<%= grid(@products_grid) do |g|

  g.column name: 'Código Evento' do |product|
    product.event_code
  end

  g.column name: 'Tipo Produto'  do |product|
    product.product_type.name if product.product_type
  end

  g.column name: 'Prazo limite' do |product|
    product.deadline
  end

  g.column do |product|
    buffer =  link_to edit_product_path(product) do
      '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
    end

    buffer += '  '
    buffer += link_to product, method: :delete, data: { confirm: "Você tem certeza que deseja remover #{product.product_type.name}?" } do
      '<i class="fa fa-lg fa-remove" title="Remover"></i>'.html_safe
    end

    raw buffer
  end

end -%>