<header class="page-header">
  <h2><%= 'Produtos' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<section class="panel">
  <div class="panel-body">
    <%= render partial: 'grid' %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= link_to 'Novo', new_product_path, class: 'btn btn-primary' %>
    <%= link_to 'Voltar', consignees_path, class: 'btn btn-warning' %>
  </div>
</section>