<p id="notice"><%= notice %></p>

<p>
  <strong>Event code:</strong>
  <%= @product.event_code %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @product.deadline %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
