<%= form_for @loan, :url => url_for(:controller => 'loan', :action => @action) do |f| %>
    <% if @operation != 'NEW' %>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                <h2 class="panel-title"><%= 'Empréstimos' %></h2>
              </header>
              <div class="panel-body">
                <% if (@operation == 'REFIN' && @operation_type == 'RETAIN') || @operation == 'PORT' %>
                    <%= render :partial => 'loan/loan_grid_for_portability_operation', :locals => {:f => f} %>
                <% else %>
                    <%= render 'loan/loan_grid', :locals => {:f => f} %>
                <% end %>
              </div>
            </section>
          </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title"><%= 'Dados do empréstimo' %></h2>
                </header>
                <div class="panel-body">

                  <%= f.hidden_field :origin_operation, :value => @operation %>
                  <%= f.hidden_field :operation_type, :value => @operation_type %>
                  <%= f.hidden_field :operator_id, :value => current_user.operator.id %>
                  <%= f.hidden_field :consignee_id, :value => current_user.get_consignee.id%>
                  <%= f.hidden_field :public_employee_id, :value => session[:employee_id]%>
                  <%= f.hidden_field :portability_request_id, :value => @portability_request_id %>

                  <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                          <%= f.label :installment_value, class: 'control-label asterisk' %>
                          <%= f.text_field :installment_value, class: 'form-control money', :required => true, :readonly => f.object.persisted? %>
                          <%= "<span class='help-block-error'>#{@loan.errors[:installment_value].first}</span>".html_safe if @loan.errors[:installment_value].first %>
                        </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.label :deadline, class: 'control-label asterisk' %>
                        <%= f.number_field :deadline, class: 'form-control', :required => true, :readonly => f.object.persisted? %>
                        <%= "<span class='help-block-error'>#{@loan.errors[:deadline].first}</span>".html_safe if @loan.errors[:deadline].first %>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.label :others, class: 'control-label' %>
                        <%= f.text_field :others, class: 'form-control interest', :readonly => f.object.persisted?%>
                        <%= "<span class='help-block-error'>#{@loan.errors[:others].first}</span>".html_safe if @loan.errors[:others].first %>
                      </div>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.label :liquid_value, class: 'control-label asterisk' %>
                        <%= f.text_field :liquid_value, class: 'form-control money', :required => true, :readonly => f.object.persisted? %>
                        <%= "<span class='help-block-error'>#{@loan.errors[:liquid_value].first}</span>".html_safe if @loan.errors[:liquid_value].first %>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.label :interest_tax, class: 'control-label' %>
                        <%= f.text_field :interest_tax, class: 'form-control interest', :readonly => f.object.persisted?%>
                        <%= "<span class='help-block-error'>#{@loan.errors[:interest_tax].first}</span>".html_safe if @loan.errors[:interest_tax].first %>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">

                      </div>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.label :contract_value, class: 'control-label asterisk' %>
                        <%= f.text_field :contract_value, class: 'form-control money', :required => true, :readonly => f.object.persisted? %>
                        <%= "<span class='help-block-error'>#{@loan.errors[:contract_value].first}</span>".html_safe if @loan.errors[:contract_value].first %>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.label :cet, class: 'control-label' %>
                        <%= f.text_field :cet, class: 'form-control interest', :readonly => f.object.persisted?%>
                        <%= "<span class='help-block-error'>#{@loan.errors[:cet].first}</span>".html_safe if @loan.errors[:cet].first %>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <%= f.hidden_field :consignee_id_portability, :value => current_user.get_consignee.id %>
                      </div>
                    </div>
                  </div>

                </div>
            </section>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <section class="panel">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :approval_password, class: 'control-label' %>
              <%= f.password_field :approval_password, class: 'form-control'%>
              <%= "<span class='help-block-error'>#{@loan.errors[:approval_password].first}</span>".html_safe if @loan.errors[:approval_password].first %>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to I18n.t('organ.back'), search_employee_path, class: 'btn btn-warning' %>
    </div>
<% end %>