<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados do contrato' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-3">
          <p>
            <b><%= 'Número do contrato' %>:</b>
            <%= @loan.contract_number %>
          </p>
          <p>
            <b><%= 'Servidor' %>:</b>
            <%= @loan.public_employee.name %>
          </p>
          <p>
            <b><%= 'CPF' %>:</b>
            <%= @loan.public_employee.format_cpf %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Mátricula' %>:</b>
            <%= @loan.public_employee.registration %>
          </p>
          <p>
            <b><%= 'Valor do contrato' %>:</b>
            <%= number_to_currency(@loan.contract_value, unit: 'R$', separator: ',', delimiter: '.') %>
          </p>
          <p>
            <b><%= 'Status' %>:</b>
            <%= @loan.status %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Valor Liquido' %>:</b>
            <%= number_to_currency(@loan.liquid_value, unit: 'R$', separator: ',', delimiter: '.') %>
          </p>
          <p>
            <b><%= 'Valor Parcela' %>:</b>
            <%= number_to_currency(@loan.installment_value, unit: 'R$', separator: ',', delimiter: '.') %>
          </p>
          <p>
            <b><%= 'Parcelas' %>:</b>
            <%= @loan.deadline %>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <b><%= 'Data' %>:</b>
            <%= @loan.created_at.strftime('%d/%m/%Y') %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>