<%= grid(@loan_grid) do |g|

  g.action_column

  g.column name: 'Contrato' do |loan|
    loan.contract_number
  end

  g.column name: 'Valor parcela' do |loan|
    loan.installment_value
  end

  g.column name: 'Parcelas Pagas' do |loan|
    loan.installments_paid
  end

  g.column name: 'Prazo' do |loan|
    loan.deadline
  end

  g.column name: 'Saldo Devedor' do |loan|
   text_field_tag "value_#{loan.id}", nil, class: 'money'
  end

end -%>