<div class="table-responsive">
  <table class="table table-bordered mb-none">
    <thead>
        <tr>
          <th><%= 'Consignatária' %></th>
          <th><%= 'Valor Parcela' %></th>
          <th><%= 'Parcelas Pagas' %></th>
          <th><%= 'Prazo' %></th>
          <th><%= 'Saldo devedor' %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @will_be_bought.consignee.name %></td>
          <td><%= @will_be_bought.installment_value %></td>
          <td><%= @will_be_bought.installments_paid %></td>
          <td><%= @will_be_bought.deadline %></td>
          <% if @operation != 'PORT' %>
              <td><%= f.text_field :portability_balance_due, class: 'money' %></td>
          <% else %>
              <td><%= format_currency @will_be_bought.balance_due_release %></td>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>