<%= grid(@manage_loans_grid, show_filters: :when_filtered) do |g|

  g.blank_slate do
    content_tag :div, 'Nenhum empréstimo encontrado.', class: 'well'
  end

  g.column name: 'Contrato', attribute: 'contract_number', auto_reload: true do |loan|
    loan.contract_number
  end

  g.column name: 'Servidor', attribute: 'name', model: 'PublicEmployee', auto_reload: true do |loan|
    loan.public_employee.name if loan.public_employee
  end

  g.column name: 'Mátricula', attribute: 'registration', model: 'PublicEmployee', auto_reload: true do |loan|
    loan.public_employee.registration if loan.public_employee
  end

  g.column name: 'Parcela', attribute: 'installments_paid', auto_reload: true do |loan|
    loan.installments_paid
  end

  g.column name: 'Prazo', attribute: 'deadline', auto_reload: true do |loan|
    loan.deadline
  end

  g.column name: 'Data' do |loan|
    loan.created_at.strftime('%d/%m/%Y')
  end

  g.column name: 'Status', attribute: 'status', auto_reload: true do |loan|
    loan.status
  end

  g.column do |loan|

    buffer = link_to loan do
        '<i class="fa fa-lg fa-search" title="Exibir"></i>'.html_safe
    end

    if loan.status == Loan::AGUARDANDO_SERVIDOR
      if can? :edit, Loan
        buffer += '   '
        buffer += link_to edit_loan_path(loan) do
          '<i class="fa fa-lg fa-edit" title="Editar"></i>'.html_safe
        end
      end

    end

    if loan.status == Loan::AUTORIZADO_SERVIDOR || loan.status == Loan::AGUARDANDO_SERVIDOR
      if can? :cancel, Loan
        buffer += '   '
        buffer += link_to loan_cancel_path(loan) do
          '<i class="fa fa-lg fa-minus-circle" title="Cancelar Reserva"></i>'.html_safe
        end
      end
    end

    if loan.status == Loan::AUTORIZADO_SERVIDOR
      if can? :approve, Loan
        buffer += '   '
        buffer += link_to loan_approve_path(loan) do
          '<i class="fa fa-lg fa-check" title="Aprovar"></i>'.html_safe
        end
      end
      if can? :refuse, Loan
        buffer += '   '
        buffer += link_to refuse_loan_path(loan) do
          '<i class="fa fa-lg fa-remove" title="Recusar"></i>'.html_safe
        end
      end
    end


    if loan.status == Loan::EM_FOLHA
      if can? :suspended, Loan
        buffer += '   '
        buffer += link_to suspend_loan_path(loan) do
          '<i class="fa fa-lg fa-ban" title="Suspender"></i>'.html_safe
        end
      end
    end

    if loan.status == Loan::EM_FOLHA || loan.status == Loan::APROVADO
      if can? :liquidate, Loan
        buffer += '   '
        buffer += link_to liquidate_loan_path(loan) do
          '<i class="fa fa-lg fa-money" title="Liquidar"></i>'.html_safe
        end
      end
    end

    if loan.status == Loan::AGUARDANDO_PORTABLIDADE
      buffer += '   '
      buffer += link_to 'Portabilidade concluida', nil, method: :post, data: {confirm: "Você tem certeza que deseja informar que a portabilidade para o contrato \'#{loan.contract_number}\' foi concluida?"}
      buffer += '   '
      buffer += link_to 'Portabilidade não concluida', nil
    end

    raw buffer
  end

end -%>