<header class="page-header">
  <h2><%= 'Aprovar Contrato' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<%= render :partial => 'loan/loan_information', :locals => {:loan => @loan} %>

<div class="row">
    <div class="col-lg-12">
      <%= form_for @loan, url: approve_execute_loan_path, :html => {:class => 'form-horizontal form-bordered'} do |f| %>
        <section class="panel">
          <div class="panel-body">
            <%= f.hidden_field :operator_id, :value => current_user.operator.id %>
            <div class="form-group">
                <%= f.label :contract_number, class: 'col-md-3 control-label asterisk' %>
                <div class="col-md-6">
                  <%= f.text_field :contract_number, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@loan.errors[:contract_number].first}</span>".html_safe if @loan.errors[:contract_number].first %>
                </div>
            </div>
            <div class="form-group">
              <%= f.label :interest_tax, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.text_field :interest_tax, :value => number_to_currency(f.object.interest_tax, separator: ',', delimiter: '.', format: '%n'), class: 'form-control interest' %>
                <%= "<span class='help-block-error'>#{@loan.errors[:interest_tax].first}</span>".html_safe if @loan.errors[:interest_tax].first %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :others, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.text_field :others, :value => number_to_currency(f.object.others, separator: ',', delimiter: '.', format: '%n'), class: 'form-control interest' %>
                <%= "<span class='help-block-error'>#{@loan.errors[:others].first}</span>".html_safe if @loan.errors[:others].first %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cet, class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= f.text_field :cet, :value => number_to_currency(f.object.cet, separator: ',', delimiter: '.', format: '%n'), class: 'form-control money' %>
                <%= "<span class='help-block-error'>#{@loan.errors[:cet].first}</span>".html_safe if @loan.errors[:cet].first %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :observation, class: 'col-md-3 control-label' %>
              <div class="col-md-6">
                <%= f.text_area :observation, class: 'form-control' %>
              </div>
            </div>
          </div>
        </section>

          <div class="actions">
            <%= f.submit 'Aprovar', :class => "btn btn-primary" %>
            <%= link_to I18n.t('reusable.back'), manage_loan_path, class: 'btn btn-warning' %>
          </div>
      <% end %>
    </div>
</div>