<header class="page-header">
  <h2><%= 'Editar Contrato' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<%= render partial: 'loan/employee_information' %>

<br>

<%= render 'loan/form' %>