<header class="page-header">
  <h2><%= 'Liquidar Contrato' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<%= render :partial => 'loan/loan_information', :locals => {:loan => @loan} %>

<div class="row">
    <div class="col-lg-12">
      <%= form_for @loan, url: liquidate_execute_loan_path, :html => {:class => 'form-horizontal form-bordered'} do |f|  %>
        <section class="panel">
            <div class="panel-body">
              <%= f.hidden_field :operator_id, :value => current_user.operator.id %>
              <div class="form-group">
                <%= f.label :observation, class: 'col-md-3 control-label asterisk' %>
                <div class="col-md-6">
                  <%= f.text_area :observation, class: 'form-control' %>
                  <%= "<span class='help-block-error'>#{@loan.errors[:observation].first}</span>".html_safe if @loan.errors[:observation].first %>
                </div>
              </div>
            </div>
        </section>
        <div class="actions">
            <%= submit_tag 'Liquidar', :class => "btn btn-primary" %>
            <%= link_to I18n.t('reusable.back'), manage_loan_path, class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
</div>