<header class="page-header">
  <h2><%= 'Solicitar Portabilidade' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <%= form_tag search_for_portability_path, :class => 'form-inline', :method => 'get' do %>
            <div class="form-group">
              <%= text_field_tag :cpf, params[:cpf], class: 'form-control cpf', placeholder: 'CPF' %>
            </div>
            <div class="form-group">
              <%= text_field_tag :registration, params[:registration], class: 'form-control', placeholder: 'Mátricula' %>
            </div>
            <div class="clearfix visible-xs mb-sm"></div>
            <%= hidden_field_tag :search, true %>
            <%= submit_tag 'Pesquisar', :class => 'btn btn-primary', :name => nil%>
        <% end %>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered mb-none">
            <thead>
            <tr>
              <th><%= 'Contrato' %></th>
              <th><%= 'Valor Parcela' %></th>
              <th><%= 'Parcela' %></th>
              <th><%= 'Prazo' %></th>
              <th><%= 'Consignatária' %></th>
              <th></th>
            </tr>
            </thead>
            <tbody id="employees_reserve_margin">
                <% @loans.each do |loan| %>
                    <tr>
                      <td><%= loan.contract_number %></td>
                      <td><%= format_currency(loan.installment_value) %></td>
                      <td><%= loan.deadline %></td>
                      <td><%= loan.deadline %></td>
                      <td><%= loan.consignee.name %></td>
                      <% if can? :request_portability, Loan %>
                          <td><%= link_to 'Solicitar', request_portability_path(:loan_id => loan), :method=> :post %></td>
                      <% end %>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>