<header class="page-header">
  <h2><%= 'Exibir Contrato' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Dados do servidor' %></h2>
      </header>
      <div class="panel-body">
        <div class="col-lg-4">
          <p>
            <b><%= 'Servidor' %>:</b>
            <%= @loan.public_employee.name if @loan.public_employee %>
          </p>
          <p>
            <b><%= 'CPF' %>:</b>
            <%= @loan.public_employee.format_cpf if @loan.public_employee %>
          </p>
          <p>
            <b><%= 'Mátricula' %>:</b>
            <%= @loan.public_employee.registration if @loan.public_employee %>
          </p>
          <p>
            <b><%= 'Órgão' %>:</b>
            <%= @loan.public_employee.organ.name if @loan.public_employee.organ %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            <h2 class="panel-title"><%= 'Dados do empréstimo' %></h2>
          </header>
          <div class="panel-body">
            <div class="col-lg-4">
              <p>
                <b><%= 'Valor do contrato' %>:</b>
                <%= number_to_currency(@loan.contract_value, unit: 'R$', separator: ',', delimiter: '.') %>
              </p>
              <p>
                <b><%= 'Valor liquido' %>:</b>
                <%= number_to_currency(@loan.liquid_value, unit: 'R$', separator: ',', delimiter: '.') %>
              </p>
              <p>
                <b><%= 'Prazo' %>:</b>
                <%= @loan.deadline %>
              </p>
              <p>
                <b><%= 'Status' %>:</b>
                <%= @loan.status %>
              </p>
            </div>
            <div class="col-lg-4">
              <p>
                <b><%= 'Data' %>:</b>
                <%= @loan.created_at.strftime('%d/%m/%Y') %>
              </p>
              <p>
                <b><%= 'Consignatária' %>:</b>
                <%= @loan.consignee.name if @loan.consignee %>
              </p>
              <p>
                <b><%= 'Parcelas Pagas' %>:</b>
                <%= @loan.installments_paid %>
              </p>
              <p>
                <b><%= 'Valor da parcela' %>:</b>
                <%= number_to_currency(@loan.installment_value, unit: 'R$', separator: ',', delimiter: '.') %>
              </p>
            </div>
            <div class="col-lg-4">
              <p>
                <b><%= 'Numero do contrato' %>:</b>
                <%= @loan.contract_number %>
              </p>
              <p>
                <b><%= 'CET' %>:</b>
                <%= @loan.cet %>
              </p>
              <p>
                <b><%= 'Interest tax' %>:</b>
                <%= @loan.interest_tax %>
              </p>
              <p>
                <b><%= 'Outros encargos' %>:</b>
                <%= @loan.others %>
              </p>
            </div>
          </div>
        </section>
    </div>
</div>

<div class="actions">
  <%= link_to I18n.t('reusable.back'), manage_loan_path, class: 'btn btn-warning' %>
</div>