<header class="page-header">
  <h2><%= 'Relatório Analítico' %></h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            <h2 class="panel-title"><%= 'Relatorio por periodo' %></h2>
          </header>
            <div class="panel-body">
                <%= form_tag({:controller => 'reports', :action => 'analytical_period'}, {:class => 'form-horizontal form-bordered'}) do %>

                    <div class="form-group">
                        <%= label_tag 'init_period', 'Data de inicio' ,class: 'col-md-3 control-label asterisk' %>
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <%= text_field_tag 'init_period', nil, class: 'form-control date_field datepicker' %>
                          </div>

                        </div>
                    </div>

                  <div class="form-group">
                    <%= label_tag 'end_period', 'Data de fim' ,class: 'col-md-3 control-label asterisk' %>
                    <div class="col-md-6">
                      <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        <%= text_field_tag 'end_period', nil, class: 'form-control date_field datepicker' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= label_tag 'segment', 'Produto', class: 'col-md-3 control-label' %>
                    <div class="col-md-6">
                      <%= select_tag "product", options_for_select([['Empréstimo', '1'], ['Assistencial', '2'], ['Cartão', '3']]), :prompt => 'Todos', class:'form-control mb-md' %>
                    </div>
                  </div>

                  <% if current_user.isS?(User::ADMIN) %>
                      <div class="form-group">
                        <%= label_tag 'consignee', 'Consignatária', class: 'col-md-3 control-label' %>
                        <div class="col-md-6">
                          <%= select_tag "consignee_period", options_from_collection_for_select(@consignees, "id", "name"), :prompt => 'Todas', class:'form-control mb-md' %>
                        </div>
                      </div>
                  <% end %>

                  <div class="actions">
                    <%= submit_tag 'Gerar', :class => 'btn btn-primary' %>
                  </div>
                <% end %>
            </div>
        </section>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title"><%= 'Relatorio por servidor' %></h2>
      </header>
      <div class="panel-body">
        <%= form_tag({:controller => 'reports', :action => 'analytical_employee'}, {:class => 'form-horizontal form-bordered'}) do %>
            <div class="form-group">
                <%= label_tag 'registration', 'Matricula', class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= text_field_tag 'registration', nil, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag 'organ', 'Órgão', class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= select_tag "organ", options_from_collection_for_select(Organ.all, "id", "name"), :prompt => 'Selecione', class:'form-control mb-md' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag 'segment', 'Produto', class: 'col-md-3 control-label asterisk' %>
              <div class="col-md-6">
                <%= select_tag "segment", options_for_select([['Empréstimo', '1'], ['Assistencial', '2'], ['Cartão', '3']]), :prompt => 'Todos', class:'form-control mb-md' %>
              </div>
            </div>

            <% if current_user.isS?(User::ADMIN) %>
                <div class="form-group">
                  <%= label_tag 'consignee', 'Consignatária', class: 'col-md-3 control-label asterisk' %>
                  <div class="col-md-6">
                    <%= select_tag "consignee", options_from_collection_for_select(Consignee.all, "id", "name"), :prompt => 'Todas', class:'form-control mb-md' %>
                  </div>
                </div>
            <% end %>

            <div class="actions">
              <%= submit_tag 'Gerar', :class => 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
    </section>
  </div>
</div>