<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="Sistema de margem consignavel">
<meta name="keywords" content=" margemfacil, consignado, sistema de consignado, emprestimo consignado"/>
<meta name="author" content="Interati / www.interati.com.br">
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">