<!DOCTYPE html>
<html class="fixed sidebar-left-xs">

    <head>
        <title>Margemfacil</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <%= render 'layouts/meta_tags' %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'porto/modernizr' %>
        <%= javascript_include_tag 'alertify' %>
        <%= javascript_include_tag 'porto/jquery.min.js' %>
        <%= javascript_include_tag 'masked-input.js' %>
        <%= javascript_include_tag 'jquery.mask.min.js' %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <section class="body">
          <header class="header">

            <div class="logo-container">
                <a href="../" class="logo">
                  <img src="/assets/mf_logo.png" height="35" alt="Margem Fácil" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                  <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="header-right">

              <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                  <figure class="profile-picture">
                    <img src="/assets/porto/!logged-user.jpg" alt="Joseph Doe" class="img-circle" />
                  </figure>
                  <div class="profile-info">
                    <span class="name"><%= current_user.login %></span>
                    <span class="role">administrator</span>
                  </div>

                  <i class="fa custom-caret"></i>
                </a>

                <div class="dropdown-menu">
                  <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                      <%= link_to change_personal_data_path, {:tabindex => '-1', :role => 'menuitem'} do %>
                          <i class="fa fa-user"></i>Atualizar Dados Pessoais
                      <% end %>
                    </li>
                    <li>
                      <%= link_to change_password_path(current_user), {:tabindex => '-1', :role => 'menuitem'} do %>
                          <i class="fa fa-user"></i>Alterar Senha
                      <% end %>
                    </li>
                    <li>
                      <%= link_to logout_path, {:tabindex => '-1', :role => 'menuitem', method: :delete } do %>
                          <i class="fa fa-power-off"></i>Sair
                      <% end %>
                    </li>
                  </ul>
                </div>

              </div>

            </div>


          </header>
          <div class="inner-wrapper">

            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

              <div class="sidebar-header">
                <div class="sidebar-title">
                  Navigation
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                  <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
              </div>

              <div class="nano">
                <div class="nano-content">
                  <nav id="menu" class="nav-main" role="navigation">
                    <ul class="nav nav-main">
                      <li class="nav-active">
                        <%= link_to dashboard_path do %>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        <% end %>
                      </li>
                      <%= render :partial => 'layouts/menu/register' %>
                      <%= render :partial => 'layouts/menu/contract' %>
                      <%= render :partial => 'layouts/menu/file' %>
                      <%= render :partial => 'layouts/menu/report' %>

                    </ul>
                  </nav>

                </div>

              </div>

            </aside>

            <section role="main" class="content-body">
              <%= yield %>
              <%= messages %>
            </section>

          </div>

          <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
              <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                  Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                  <div class="sidebar-widget widget-calendar">
                    <h6>Upcoming Tasks</h6>
                    <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                    <ul>
                      <li>
                        <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                        <span>Company Meeting</span>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </aside>
        </section>
        <%= javascript_include_tag 'application' %>
    </body>

</html>
