<!DOCTYPE html>
<html class="fixed">

    <head>
      <title>Margem Facil</title>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <%= render 'layouts/meta_tags' %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'alertify' %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <%= yield %>
        <%= messages "login-message" %>
        <%= javascript_include_tag 'application'%>
    </body>
</html>