<!DOCTYPE html>
<html>

<head>
  <title>Margemfacil</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= render 'layouts/meta_tags' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="body-login">
<header>
  <div class="row-fluid top-header-login">
    <div class="span10 header_logo-side">
      <%= image_tag("/images/menu/logo_mf.png", :alt => I18n.t("layouts.home"), :title => I18n.t("layouts.home_tratbem")) %>
    </div>
  </div>

</header>

<%= yield %>
<%= messages %>

<br />

</body>

</html>
